<div class="push-overview">
    <div class="header">
        <span class="head-name"><a href="#/view/push/list">Message > </a></span><span class="head-name">Push Report</span>
        <div class="btn-group" ng-show="pushType == 3">
		  <button type="button" class="btn btn-default active" ng-click="changeType($event,2)">In-APP</button>
		  <button type="button" class="btn btn-default" ng-click="changeType($event,1)">Notification</button>
		</div>
    </div>
    <div class="overview-container">
        <h5>Overview</h5>
        <div class="view">
        	<ul>
        		<li class="item" ng-show="planData.A">
        			<span>A</span>
        			<ol class="data">
        				<li>
        					<span>Target Users<br><b>{{planData.A.targetUsers}}</b></span>
							<div class="circle">
								<canvas class="canvas-bottom" width="70" height="70"></canvas>
								<canvas class="canvas-top" id="A-1" width="70" height="70"></canvas>
							</div>
        				</li>
        				<li>
        					<span>Push Arrived<br><b>{{planData.A.arrive}}</b></span>
							<div class="circle">
								<canvas class="canvas-bottom" width="70" height="70"></canvas>
								<canvas class="canvas-top" id="A-2" width="70" height="70"></canvas>
							</div>
        				</li>
        				<li>
        					<span>Push Displayed<br><b>{{planData.A.display}}</b></span>
							<div class="circle">
								<canvas class="canvas-bottom" width="70" height="70"></canvas>
								<canvas class="canvas-top" id="A-3" width="70" height="70"></canvas>
							</div>
        				</li>
        				<li>
        					<span>Push Clicked<br><b>{{planData.A.click}}</b></span>
							<div class="circle">
								<canvas class="canvas-bottom" width="70" height="70"></canvas>
								<canvas class="canvas-top" id="A-4" width="70" height="70"></canvas>
							</div>
        				</li>
        			</ol>
        		</li>
                <li class="item" ng-show="planData.B">
                    <span>B</span>
                    <ol class="data">
                        <li>
                            <span>Target Users<br><b>{{planData.B.targetUsers}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="B-1" width="70" height="70"></canvas>
                            </div>
                        </li>
                        <li>
                            <span>Push Arrived<br><b>{{planData.B.arrive}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="B-2" width="70" height="70"></canvas>
                            </div>
                        </li>
                        <li>
                            <span>Push Displayed<br><b>{{planData.B.display}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="B-3" width="70" height="70"></canvas>
                            </div>
                        </li>
                        <li>
                            <span>Push Clicked<br><b>{{planData.B.click}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="B-4" width="70" height="70"></canvas>
                            </div>
                        </li>
                    </ol>
                </li>
                <li class="item" ng-show="planData.C">
                    <span>C</span>
                    <ol class="data">
                        <li>
                            <span>Target Users<br><b>{{planData.C.targetUsers}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="C-1" width="70" height="70"></canvas>
                            </div>
                        </li>
                        <li>
                            <span>Push Arrived<br><b>{{planData.C.arrive}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="C-2" width="70" height="70"></canvas>
                            </div>
                        </li>
                        <li>
                            <span>Push Displayed<br><b>{{planData.C.display}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="C-3" width="70" height="70"></canvas>
                            </div>
                        </li>
                        <li>
                            <span>Push Clicked<br><b>{{planData.C.click}}</b></span>
                            <div class="circle">
                                <canvas class="canvas-bottom" width="70" height="70"></canvas>
                                <canvas class="canvas-top" id="C-4" width="70" height="70"></canvas>
                            </div>
                        </li>
                    </ol>
                </li>
        		<li class="item total-data">
        			<b class="total-title">Total</b>
        			<ol class="data">
        				<li>
        					<span>{{totalData.targetUsers}}</span>
        					<span>{{totalData.userPct}}%</span>
        				</li>
        				<li>
        					<span>{{totalData.arrive}}</span>
                            <span>{{totalData.arrivePct}}%</span>
        				</li>
        				<li>
        					<span>{{totalData.display}}</span>
                            <span>{{totalData.displayPct}}%</span>
        				</li>
        				<li>
        					<span>{{totalData.click}}</span>
                            <span>{{totalData.clickPct}}%</span>
        				</li>
        			</ol>
        		</li>
        	</ul>
        </div>
        <h5>Push Arrived</h5>
        <div class="arrived">
        	<div class="push-filter clearfix">
        		<ul class="chart-change">
        			<li class="fa fa-line-chart active" ng-click="changeChart($event,'arrived',1)"></li>
        			<li class="fa fa-table" ng-click="changeChart($event,'arrived',0)"></li>
        		</ul>
        	</div>
        	<div class="push-chart" id="arrived-chart" ng-hide="showArrivedChart == 0"></div>
            <div class="push-table" ng-show="showArrivedChart == 0">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>PlanA</th>
                            <th ng-show="arriveTh.B || arriveTh.B==0">PlanB</th>
                            <th ng-show="arriveTh.C || arriveTh.C==0">PlanC</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="arrive in arriveTable">
                            <td>{{arrive.pushDate}}</td>
                            <td>{{arrive.A}}</td>
                            <td ng-show="arrive.B || arrive.B==0">{{arrive.B}}</td>
                            <td ng-show="arrive.C || arrive.C==0">{{arrive.C}}</td>
                            <td>{{arrive.total}}</td>
                        </tr>
                    </tbody>
                </table>   
            </div>
        </div>
        <h5>Push Displayed</h5>
        <div class="displayed">
            <div class="push-filter clearfix">
                <ul class="chart-change">
                    <li class="fa fa-line-chart active" ng-click="changeChart($event,'displayed',1)"></li>
                    <li class="fa fa-table" ng-click="changeChart($event,'displayed',0)"></li>
                </ul>
            </div>
            <div class="push-chart" id="displayed-chart" ng-hide="showDisplayedChart == 0"></div>
            <div class="push-table" ng-show="showDisplayedChart == 0">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>PlanA</th>
                            <th ng-show="displayTh.B || displayTh.B==0">PlanB</th>
                            <th ng-show="displayTh.C || displayTh.C==0">PlanC</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="display in displayTable">
                            <td>{{display.pushDate}}</td>
                            <td>{{display.A}}</td>
                            <td ng-show="display.B || display.B==0">{{display.B}}</td>
                            <td ng-show="display.C || display.C==0">{{display.C}}</td>
                            <td>{{display.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h5>Push Clicked</h5>
        <div class="clicked">
        	<div class="push-filter clearfix">
        		<ul class="chart-change">
        			<li class="fa fa-line-chart active" ng-click="changeChart($event,'clicked',1)"></li>
        			<li class="fa fa-table" ng-click="changeChart($event,'clicked',0)"></li>
        		</ul>
    		</div>
        	<div class="push-chart" id="clicked-chart" ng-hide="showClickedChart == 0"></div>
            <div class="push-table" ng-show="showClickedChart == 0">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>PlanA</th>
                            <th ng-show="clickTh.B || clickTh.B==0">PlanB</th>
                            <th ng-show="clickTh.C || clickTh.C==0">PlanC</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="click in clickTable">
                            <td>{{click.pushDate}}</td>
                            <td>{{click.A}}</td>
                            <td ng-show="click.B || click.B==0">{{click.B}}</td>
                            <td ng-show="click.C || click.C==0">{{click.C}}</td>
                            <td>{{click.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>