<div class="error" ng-controller="errorCtrl">
    <div class="content">
        <h3>HTTP ERROR {{status}}</h3><br><br>
        <span>Service is unavailable currently. Please try to <a href="javascript:history.go(-1)">refresh</a> this page.<br>
If refresh doesn't resolve the problem please access this page after a while.<br>
We are sorry for the inconvinent. Our technical team is trying to solve the problem now.</span><br><br>

    </div>
    <div class="btn-bar">
    	<a href="#/view/da/tableau/dashboard">Go to Homepage</a>
    </div>
</div>
