<div class="list-msg">
    <div class="header">
        <span class="head-name">Messages</span>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/view/push/launcherEdit/">+&nbsp;&nbsp;New Message</a></li>
        </ul>
    </div>
    <div class="query-bar">
        <div>
            <div multi-select datalists="pushStatus" datavalue="status" confirm="setParam()"></div>
            <span class="seach-input">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" placeholder="Search" ng-model="keywords" ng-keyup="setParam()">
            </span>
        </div>
        <div>
            <span class="label-select" ng-repeat="item in status">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="changeStatus(item)">
                    <span aria-hidden="true">&times;</span>
            </button>
            <span>{{item}}</span>
            </span>
        </div>
    </div>
    <div class="list-content">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th ng-click="orderBy('campaignName')">Campaign Name
                        <div class="icon-order">
                            <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='campaignName' &amp;&amp; !desc]"></i>
                            <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='campaignName' &amp;&amp; desc]"></i>
                        </div>
                    </th>
                    <th ng-click="orderBy('startTime')">Start Time
                        <div class="icon-order">
                            <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='startTime' &amp;&amp; !desc]"></i>
                            <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='startTime' &amp;&amp; desc]"></i>
                        </div>
                    </th>
                    <th ng-click="orderBy('targetUsers')">Target Users
                        <div class="icon-order">
                            <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='targetUsers' &amp;&amp; !desc]"></i>
                            <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='targetUsers' &amp;&amp; desc]"></i>
                        </div>
                    </th>
                    <th ng-click="orderBy('status')">Status
                        <div class="icon-order">
                            <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='status' &amp;&amp; !desc]"></i>
                            <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='status' &amp;&amp; desc]"></i>
                        </div>
                    </th>
                    <th ng-click="orderBy('author')">Author
                        <div class="icon-order">
                            <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='author' &amp;&amp; !desc]"></i>
                            <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='author' &amp;&amp; desc]"></i>
                        </div>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vo in list | orderBy: orderField:desc" id={{'item'+vo.pushId}} ng-hide="vo.status=='delete'">
                    <td class="campaign-name">{{vo.campaignName}}</td>
                    <td>{{vo.startTime}}</td>
                    <td>{{vo.targetUsers}}</td>
                    <td><span class="state" ng-class="{'Error':'delete','Active':'active','Done':'done','Draft':'draft', 'Inactive': 'inactive','Completed':'completed'}[vo.status]">{{vo.status}}</span></td>
                    <td>{{vo.author}}</td>
                    <td>
                        <div class="dropdown">
                            <p data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</p>
                            <div class="dropdown-menu">
                                <div class="triangle-top">
                                    <i class="arrow"></i>
                                </div>
                                <ul>
                                    <li ng-show="vo.status == 'Completed' || vo.status == 'Inactive' || vo.status == 'Active'" ng-click="editDetail(vo,'report')"><i class="fa fa-bar-chart"></i> Report</li>
                                    <li ng-show="vo.status == 'Draft' || vo.status == 'Error'" ng-click="editDetail(vo,'edit')"><i class="glyphicon glyphicon-pencil"></i> Edit</li>
                                    <li ng-show="vo.status == 'Draft' || vo.status == 'Error'" ng-click="editDetail(vo,'del')"><i class="glyphicon glyphicon-trash"></i> Detele</li>
                                    <li ng-hide="vo.status == 'Error'" ng-click="editDetail(vo,'duplicate')"><i class="glyphicon glyphicon-duplicate"></i> Duplicate</li>
                                    <li ng-show="vo.status == 'Active'" ng-click="editDetail(vo,'inactive')"><i class="glyphicon glyphicon-remove"></i> Inactive</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 20]" ng-click="seachParam.pageSize=20;loadList()">20</button>
            <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 50]" ng-click="seachParam.pageSize=50;loadList()">50</button>
            <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 100]" ng-click="seachParam.pageSize=100;loadList()">100</button>
        </div>
        <ul uib-pagination total-items="totalItems" ng-model="seachParam.pageNum" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="seachParam.pageSize" ng-change="loadList()"></ul>
    </div>
</div>
