<div class="scheduling">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        To avoid user harassment, message should not be pushed to the user during {{config.timeFrom}} ~ {{config.timeTo}}
    </div>
    <div class="scheduling-container">
        <div class="title">
            <h2>Message Schedule</h2>
            <p>Select a future date and time for message delivery.</p>
        </div>
        <div class="delivery-wripper">
            <span>Delivery Date：<img src="app/style/less/images/icon_i.png" popover-placement="bottom" popover-is-open="delvOpen" ng-mouseenter="delvOpen=true" ng-mouseleave="delvOpen=false" uib-popover="You could send this message immediately or schedule it for a later time."></span>
            <ul class="delivery">
                <li>
                    <div class="dropdown">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{detail.sendNow == 0?"Send Later":"Send Now"}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="detail.sendNow=1">Send Now</li>
                            <li ng-click="setDelivery()">Send Later</li>
                        </ul>
                    </div>
                </li>
                <li ng-show="!detail.sendNow">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <input name="daterange" type="text" single-date datavalue="startTime" ng-model="startTime" readonly>
                </li>
                <li ng-show="!detail.sendNow">
                    <div class="dropdown">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{startHour}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu" ng-init="hour=['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']">
                            <li ng-repeat="h in hour" ng-click="setTime(h,'h')">{{h}}</li>
                        </ul>
                    </div>
                </li>
                <li ng-show="!detail.sendNow">
                    <div class="dropdown">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{startMinute}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu" ng-init="minute=['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59']">
                            <li ng-repeat="m in minute" ng-click="setTime(m,'m')">{{m}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- <div class="delivery-wripper recipient" ng-show="!detail.sendNow">
            <span></span>
            <span class="time-zone"><i class="fa fa-check-square"></i>  Recipient time zone</span>
        </div> -->
        <div class="delivery-wripper">
            <span>Expires：<img src="app/style/less/images/icon_i.png" popover-placement="bottom" popover-is-open="expOpen" ng-mouseenter="expOpen=true" ng-mouseleave="expOpen=false" uib-popover="Reattempt delivery of notification until after specified duration.The maximum expiration time is 4 weeks."></span>
            <ul class="delivery">
                <li>
                    <div class="dropdown">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{detail.endDefault == 0?"Specify":"Default"}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="detail.endDefault=1">Default</li>
                            <li ng-click="detail.endDefault=0">Specify</li>
                        </ul>
                    </div>
                </li>
                <li ng-show="!detail.endDefault">
                    <input name="time" type="text" ng-model="endTime" ng-blur="checkNum()">
                </li>
                <li ng-show="!detail.endDefault">
                    <div class="dropdown">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{detail.endTimeUnit}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="changeMaxValue('day')">Days</li>
                            <li ng-click="changeMaxValue('hour')">Hour</li>
                            <li ng-click="changeMaxValue('minute')">Minute</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="left-btn">
            <button type="button" class="btn btn-default draft" ng-click="saveDetail(0)">Save as Draft</button>
        </div>
        <div class="right-btn">
            <a href="#/view/push/list"><button type="button" class="btn btn-default cancle">Cancel</button></a>
            <button type="button" class="btn btn-default save" ng-click="saveDetail(1)">Save & Continue</button>
        </div>
    </div>
</div>
