<div class="app_view">
    <div class="showList">
        <div class="header">
            <ol class="breadcrumb">
                <li><strong>App</strong></li>
            </ol>
            <div class="add-box">
                <button class="add-btn" ng-click="addData()">Add APP</button>
            </div>
            <div class="search-box">
                <i class="glyphicon glyphicon-search icon-search"></i>
                <input class="search-in" type="text" placeholder="Search" ng-keyup="searchBlur()" ng-model="seachParam.searchData">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th ng-click="orderBy('appId')">ID
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='appId' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='appId' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('name')">Name
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='name' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='name' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('version')">Version
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='version' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='version' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('type')">Type
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='type' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='type' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('company')">Company
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='company' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='company' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('belongTo')">Belongs to
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='belongTo' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='belongTo' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('createTime')">Create Time
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='createTime' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='createTime' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vo in list | orderBy: orderField:desc | limitTo:listNum">
                        <td>{{vo.appId}}</td>
                        <td>{{vo.name}}</td>
                        <td>{{vo.version}}</td>
                        <td class="text-capitalize">{{vo.typeName}}</td>
                        <td>{{vo.company}}</td>
                        <td>{{vo.belongTo==0?'OS':vo.belongTo==1?'Launch':'Others'}}</td>
                        <td>{{vo.createTime}}</td>
                        <td>
                            <span ng-class="{1: 'turn-on', 0: 'turn-off'}[vo.appStatus]" ng-click="changeState(vo)"></span>
                            <span class="glyphicon" ng-class="{1: 'glyphicon-eye-open', 0: 'glyphicon-pencil'}[vo.appStatus]" ng-click="getDetail(vo)"></span>
                            <!-- <span class="glyphicon glyphicon-trash" ng-click="deleteItem(vo)"></span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <div class="btn-group">
                <button class="btn btn-default" ng-class="{20:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=20;loadList()">20</button>
                <button class="btn btn-default" ng-class="{50:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=50;loadList()">50</button>
                <button class="btn btn-default" ng-class="{100:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=100;loadList()">100</button>
            </div>
            <ul uib-pagination ng-if="totalItems" total-items="totalItems" ng-model="seachParam.currentPage" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="seachParam.pageSize" ng-change="loadList()"></ul>
        </div>
    </div>
</div>
