<div class="app_view">
    <div class="edit">
        <div class="header">
            <ol class="breadcrumb">
                <li class="cursor" ng-click="cancel()">App</li>
                <li class="active" ng-show="!detailVO.status">Edit</li>
                <li class="active" ng-show="detailVO.status">View</li>
            </ol>
        </div>
        <div class="edit-container">
            <div class="form-group" verification>
                <label class="col-sm-2 control-label">Name:<em>&#42;</em></label>
                <div class="col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.name">
                </div>
                <span class="msg"></span>
            </div>
            <div class="form-group" verification>
                <label class="col-sm-2 control-label">Package Name:<em>&#42;</em></label>
                <div class="col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.packageName">
                </div>
                <span class="msg"></span>
            </div>
            <div class="form-group text-capitalize">
                <label class="col-sm-2 control-label">Category:<em>&#42;</em></label>
                <osselecttitle datalists="category" confirm="catSel()" vo="categoryVO" ng-hide="detailVO.status">
                </osselecttitle>
                <div class="col-xs-6" ng-show="detailVO.status">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.typeName" >
                </div>
            </div>
            <div class="form-group" verification>
                <label class="col-sm-2 control-label">Version:<em>&#42;</em></label>
                <div class="col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.version" ng-blur="regexPattern(detailVO.version,true)">
                </div>
                <span class="msg"></span>
            </div>
            <div class="form-group" verification>
                <label class="col-sm-2 control-label">Company:<em>&#42;</em></label>
                <div class="col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.company" ng-blur="regexPattern(detailVO.version,true)">
                </div>
                <span class="msg"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Belongs to:<em>&#42;</em></label>
                <span ng-click="changeBelong(0)" class="ridio">
                    <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.belongTo]"></i>
                    OS
                </span>
                <span ng-click="changeBelong(1)" class="ridio">
                    <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.belongTo]"></i>
                    Launcher
                </span>
                <span ng-click="changeBelong(2)" class="ridio">
                    <i class="fa fa-dot-circle-o icon-radio" ng-class="{2:'active'}[detailVO.belongTo]"></i>
                    Others
                </span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Discovery:<em>&#42;</em></label>
                <span ng-click="changeDiscover(0)" class="ridio">
                    <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.discovery]"></i>
                    Yes
                </span>
                <span ng-click="changeDiscover(1)" class="ridio">
                    <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.discovery]"></i>
                    No
                </span>
            </div>
            <div class="form-group">
                <div class="upload_img clearfix">
                    <label class="label_img col-sm-2">Logo:</label>
                    <button type="file" ngf-select="uploadPic(picFile)" ng-model="picFile" accept="image/png, image/jpeg" name="file" class="btn btn-primary" ng-hide="detailVO.status">Upload</button>
                    <div class="div_img" ng-show="img_url || begin_upload">
                        <uib-progressbar max="100" value="dynamic" ng-show="begin_upload" class="progress-striped active"><b>{{dynamic}}%</b></uib-progressbar>
                        <div class="img-container">
                            <img ng-src="{{img_url}}" ng-show="img_url">
                            <span ng-click="delete(detailVO)" ng-show="img_url" ng-hide="detailVO.status">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-footer">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-default save" ng-click="saveData()" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
            </div>
        </div>
    </div>
</div>
