<div class="wrapper wrapper-content" ng-controller="campaignNetworkCtrl">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Name:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.name" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">CPX:</label>
                <div class="col-xs-6 col-sm-8">
                    <select class="ng-hide">
                        <option ng-repeat="cpx in CPX">{{cpx}}</option>>
                    </select>
                    <single-select class="chosen-select" ng-model="detailVO.cpx" placehoder-text="{{detailVO.cpx}}"></single-select>
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Payout:</label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.payout" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Budget:</label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.budget" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Date:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8 has-feedback">
                    <input date-pastlimited id="datarange" class="form-control" type="text" data-start="startDate" data-end="endDate">
                    <i class="fa fa-times form-control-feedback m-r" style="pointer-events: auto" ng-click="clearDate()"></i>
                </div>
            </div>
            <div class="m-t-md">
                <div class="tab-list">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li ng-click="showTab = 'placement'" ng-class="{true: 'active'}[showTab === 'placement']">
                            <a>Placement</a>
                        </li>
                        <li ng-click="showTab = 'targeting'" ng-class="{true: 'active'}[showTab === 'targeting']">
                            <a>Targeting</a>
                        </li>
                        <li ng-click="showTab = 'advertiser'" ng-class="{true: 'active'}[showTab === 'advertiser']" ng-hide="detailVO.placeId==''">
                            <a>Advertiser</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content p-h-md table-bordered no-top-border">
                        <ul class="tab-pane" ng-class="{true: 'active'}[showTab === 'placement']">
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">App &amp; Version:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="app in appList" value="{{app.appId}}">{{app.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.appName}}" confirm="appData()"></single-select-id>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="version in versionList">{{version.version}}</option>>
                                    </select>
                                    <single-select class="chosen-select" ng-model="detailVO.version" placehoder-text="{{detailVO.version}}" confirm="versionData()"></single-select>
                                </div>
                            </li>
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">Group:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="group in groupList" value="{{group.groupId}}">{{group.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.groupName}}" confirm="groupData()"></single-select-id>
                                </div>
                            </li>
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">Placement:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="place in placeList" value="{{place.placementId}}">{{place.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.placeName}}" confirm="placeData()"></single-select-id>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-pane" ng-class="{true: 'active'}[showTab === 'targeting']">
                            <div targeting attr-targeting="detailVO" attr-state="dataState"></div>
                        </div>
                        <div class="tab-pane" ng-class="{true: 'active'}[showTab === 'advertiser']">
                            <ul>
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">RTB:</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <ul class="unstyled">
                                            <li class="inline m-r-sm" ng-click="rtbData(0)"><i class="fa fa-dot-circle-o m-r-xs" ng-class="{0:'text-success'}[detailVO.rtb]"></i>Yes</li>
                                            <li class="inline m-r-sm" ng-click="rtbData(1)"><i class="fa fa-dot-circle-o m-r-xs" ng-class="{1:'text-success'}[detailVO.rtb]"></i>No</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">Advertiser:<em ng-show="!detailVO.rtb">&#42;</em></label>
                                    <!-- <div class="dropdown multi-sel" ng-show="{0: 'true'}[detailVO.status]">
                                        <input readonly ng-click="adverClick()" ng-model="detailVO.advertiserName" class="dropdown-toggle" data-toggle="dropdown">
                                        <ul class="dropdown-menu adver" role="menu">
                                            <li ng-show="!detailVO.rtb" ng-click="adverAll()" class="advercheck" self-stop-propagation>
                                                <i class="fa fa-check-square" ng-class="{true: 'active'}[selectAllState.advertiser]"></i> ALL
                                            </li>
                                            <li ng-repeat="ad in adverList" ng-click="adverData(ad)" class="advercheck" self-stop-propagation>
                                                <i class="fa fa-check-square" ng-class="{true: 'active'}[ad.isSelect]"></i> {{ad.name}}
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="col-xs-6 col-sm-8">
                                        <input type="text" class="form-control" ng-model="detailVO.advertiserName" ng-show="{1: 'true'}[detailVO.status]" readonly>
                                    </div>
                                </li>
                                <li class="row m-b-md" ng-show="detailVO.rtb">
                                    <label class="col-xs-2 col-sm-3 text-right">All List:<em>&#42;</em></label>
                                    <!-- <div class="dropdown multi-sel" ng-show="{0: 'true'}[detailVO.status]">
                                        <input readonly ng-click="offerClick()" ng-model="allNames" class="dropdown-toggle" data-toggle="dropdown">
                                        <ul class="dropdown-menu offer-name" role="menu" pull-refresh="loadMore()">
                                            <li ng-repeat="all in allName" ng-click="offerData(all)" self-stop-propagation>
                                                <i class="fa fa-check-square" ng-class="{true:'active'}[all.isSelect]"></i>{{all.offerName}}
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="col-xs-6 col-sm-8">
                                        <input type="text" class="form-control" ng-model="detailVO.offerName" ng-show="{1: 'true'}[detailVO.status]" readonly>
                                    </div>
                                </li>
                                <li class="row m-b-md" ng-show="!detailVO.rtb && showChannel">
                                    <label class="col-xs-2 col-sm-3 text-right">Channel:<em>&#42;</label>
                                    <!-- <div class="dropdown multi-sel" ng-show="{0: 'true'}[detailVO.status]">
                                        <input readonly ng-model="channelNames" class="dropdown-toggle" data-toggle="dropdown">
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-click="channelAll()" self-stop-propagation>
                                                <i class="fa fa-check-square" ng-class="{true: 'active'}[selectAllState.channel]"></i> ALL
                                            </li>
                                            <li ng-repeat="channel in channelList" ng-click="channelData(channel)" self-stop-propagation>
                                                <i class="fa fa-check-square" ng-class="{true:'active'}[channel.isSelect]"></i>{{channel.name}}
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="col-xs-6 col-sm-8">
                                        <input type="text" class="form-control" ng-model="channelNames" ng-show="{1: 'true'}[detailVO.status]" readonly>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-center p-h-lg">
            <button class="btn btn-warning fw-100 m-r-lg" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary fw-100" ng-click="saveData()" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
        </div>
    </div>
