<div class="wrapper wrapper-content" ng-controller="campaignNetworkCtrl">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Name:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.name" ng-readonly="{1: 'true'}[detailVO.status]" maxlength="50">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">CPX:</label>
                <div class="col-xs-6 col-sm-8">
                    <select class="ng-hide">
                        <option ng-repeat="cpx in CPX" value="{{cpx}}">{{cpx}}</option>>
                    </select>
                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.cpx}}" confirm="detailVO.cpx = selectData.name" read-status="detailVO.status"></single-select-id>
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Payout:</label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.payout" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Budget:</label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.budget" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Date:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8 has-feedback">
                    <input date-pastlimited id="datarange" class="form-control" type="text" data-start="startDate" data-end="endDate">
                    <i class="fa fa-times form-control-feedback m-r" style="pointer-events: auto" ng-click="clearDate()"></i>
                </div>
            </div>
            <div class="m-t-md">
                <div class="tab-list">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li ng-click="showTab = 'placement'" ng-class="{true: 'active'}[showTab === 'placement']">
                            <a>Placement</a>
                        </li>
                        <li ng-click="showTab = 'targeting'" ng-class="{true: 'active'}[showTab === 'targeting']">
                            <a>Targeting</a>
                        </li>
                        <li ng-click="showTab = 'advertiser'" ng-class="{true: 'active'}[showTab === 'advertiser']" ng-hide="detailVO.placeId==''">
                            <a>Advertiser</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content p-h-md table-bordered no-top-border">
                        <ul class="tab-pane unstyled no-padding h-250" ng-class="{true: 'active'}[showTab === 'placement']">
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">App &amp; Version:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="app in appList" value="{{app.appId}}">{{app.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.appName}}" confirm="appData()"></single-select-id>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="version in versionList" value="{{version.version}}">{{version.version}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.version}}" confirm="versionData()" read-status="detailVO.status"></single-select-id>
                                </div>
                            </li>
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">Group:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="group in groupList" value="{{group.groupId}}">{{group.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.groupName}}" confirm="groupData()"></single-select-id>
                                </div>
                            </li>
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">Placement:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                        <option ng-repeat="place in placeList" value="{{place.placementId}}">{{place.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.placeName}}" confirm="placeData()"></single-select-id>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-pane" ng-class="{true: 'active'}[showTab === 'targeting']" ng-if="detailVO">
                            <div targeting attr-targeting="detailVO" attr-state="dataState"></div>
                        </div>
                        <div class="tab-pane h-250" ng-class="{true: 'active'}[showTab === 'advertiser']">
                            <ul class="unstyled no-padding">
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">RTB:</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <ul class="unstyled no-padding">
                                            <li class="inline m-r-sm" ng-click="rtbData(0)"><i class="fa fa-dot-circle-o m-r-xs" ng-class="{0:'text-success'}[detailVO.rtb]"></i>Yes</li>
                                            <li class="inline m-r-sm" ng-click="rtbData(1)"><i class="fa fa-dot-circle-o m-r-xs" ng-class="{1:'text-success'}[detailVO.rtb]"></i>No</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">Advertiser:<em ng-show="!detailVO.rtb">&#42;</em></label>
                                    <div class="col-xs-6 col-sm-8">
                                        <div class="chosen-container chosen-container-multi" style="width: 100%;">
                                            <div class="chosen-choices no-radius" ng-click="adverClick($event)">
                                                <input type="text" class="form-control no-borders white-bg" ng-model="detailVO.advertiserName" readonly>
                                            </div>
                                            <div class="chosen-drop">
                                                <div class="chosen-search">
                                                    <input type="text" autocomplete="off" tabindex="4" ng-model="filter_value">
                                                </div>
                                                <ul class="chosen-results unstyled">
                                                    <li class="active-result" ng-show="!detailVO.rtb" ng-click="adverAll()">
                                                        <i class="fa text-navy" ng-class="{true:'fa-check-square',false:'fa-square-o'}[selectAllState.advertiser]" aria-hidden="true"></i><span>ALL</span>
                                                    </li>
                                                    <li class="active-result" ng-repeat="ad in adverList | filter:filter_value" ng-click="adverData(ad)">
                                                        <i class="fa text-navy" ng-class="{true:'fa-check-square',false:'fa-square-o'}[ad.isSelect]" aria-hidden="true"></i><span>{{ad.name}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row m-b-md" ng-show="detailVO.rtb">
                                    <label class="col-xs-2 col-sm-3 text-right">All List:<em>&#42;</em></label>
                                    <div class="col-xs-6 col-sm-8">
                                        <div class="chosen-container chosen-container-multi" style="width: 100%;">
                                            <div class="chosen-choices no-radius" ng-click="offerClick($event)">
                                                <input type="text" class="form-control no-borders white-bg" ng-model="allNames" readonly>
                                            </div>
                                            <div class="chosen-drop">
                                                <div class="chosen-search">
                                                    <input type="text" autocomplete="off" tabindex="4" ng-model="filter_value">
                                                </div>
                                                <ul class="chosen-results unstyled" pull-refresh="loadMore()">
                                                    <li class="active-result" ng-repeat="all in allName | filter:filter_value" ng-click="offerData(all)">
                                                        <i class="fa text-navy" ng-class="{true:'fa-check-square',false:'fa-square-o'}[all.isSelect]" aria-hidden="true"></i><span>{{all.offerName}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row m-b-md" ng-show="!detailVO.rtb && showChannel">
                                    <label class="col-xs-2 col-sm-3 text-right">Channel:<em>&#42;</em></label>
                                    <div class="col-xs-6 col-sm-8">
                                        <div class="chosen-container chosen-container-multi" style="width: 100%;">
                                            <div class="chosen-choices no-radius" ng-click="channelClick($event)">
                                                <input type="text" class="form-control no-borders white-bg" ng-model="channelNames" readonly>
                                            </div>
                                            <div class="chosen-drop">
                                                <div class="chosen-search">
                                                    <input type="text" autocomplete="off" tabindex="4" ng-model="filter_value">
                                                </div>
                                                <ul class="chosen-results unstyled">
                                                    <li class="active-result" ng-show="!detailVO.rtb" ng-click="channelAll()">
                                                        <i class="fa text-navy" ng-class="{true:'fa-check-square',false:'fa-square-o'}[selectAllState.channel]" aria-hidden="true"></i><span>ALL</span>
                                                    </li>
                                                    <li class="active-result" ng-repeat="channel in channelList | filter:filter_value" ng-click="channelData(channel)">
                                                        <i class="fa text-navy" ng-class="{true:'fa-check-square',false:'fa-square-o'}[channel.isSelect]" aria-hidden="true"></i><span>{{channel.name}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-center p-h-lg">
            <button class="btn btn-warning fw-100 m-r-lg" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary fw-100" ng-click="saveData()" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
        </div>
    </div>
