<div class="wrapper wrapper-content" ng-controller="campaignOperationCtrl">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Name:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.name" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Priority:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.priority" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">App in our server:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <ul class="unstyled">
                        <li class="inline m-r-sm" ng-click="changeServer(1)">
                            <i class="fa fa-dot-circle-o" ng-class="{1:'text-success'}[detailVO.inServer]"></i> Yes
                        </li>
                        <li class="inline m-r-sm" ng-click="changeServer(0)">
                            <i class="fa fa-dot-circle-o" ng-class="{0:'text-success'}[detailVO.inServer]"></i> No
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t-md" ng-hide="detailVO.inServer">
                <label class="col-xs-2 col-sm-3 text-right">Add to reva offer:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                <ul class="unstyled">
                    <li class="inline" ng-click="changeInput(1)">
                        <i class="fa fa-dot-circle-o" ng-class="{1:'text-success'}[detailVO.input]"></i> Yes
                    </li>
                    <li class="inline" ng-click="changeInput(0)">
                        <i class="fa fa-dot-circle-o" ng-class="{0:'text-success'}[detailVO.input]"></i> No
                    </li>
                </ul>
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Payout:</label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.payout" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Date:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <input id="datarange" class="form-control" name="datarange" type="text" date-unlimited data-start="startDate" data-end="endDate" readonly>
                </div>
                <label class="col-xs-1 col-sm-1">
                    <i class="fa fa-times" ng-click="clearDate()"></i>
                </label>
            </div>
            <div>
                <div class="tab-list">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li ng-click="showTab = 'placement'" ng-class="{true: 'active'}[showTab === 'placement']">
                            <a href="javascript:void(0)">Placement</a>
                        </li>
                        <li ng-click="showTab = 'targeting'" ng-class="{true: 'active'}[showTab === 'targeting']">
                            <a href="javascript:void(0)">Targeting</a>
                        </li>
                        <li ng-click="showTab = 'apps'" ng-class="{true: 'active'}[showTab === 'apps']">
                            <a href="javascript:void(0)" ng-show="{1:'showApp'}[detailVO.inServer]">Apps</a>
                            <a href="javascript:void(0)" ng-show="{0:'showApp'}[detailVO.inServer]">URL</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <ul class="tab-pane" ng-class="{true: 'active'}[showTab === 'placement']">
                            <li>
                                <span class="title">App &amp; Version:<em>&#42;</em></span>
                                <div class="app">
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="applist" data-toggle="dropdown">
                                            {{detailVO.appName}}
                                            <span class="caret"></span>
                                        </p>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="applist">
                                            <li ng-repeat="vo in app" ng-click="appData(vo)">{{vo.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="app">
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="versionlist" data-toggle="dropdown">
                                            {{detailVO.version}}
                                            <span class="caret"></span>
                                        </p>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="versionlist">
                                            <li ng-repeat="vo in version" ng-click="versionData(vo)">{{vo.version}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="title">Group:<em>&#42;</em></span>
                                <div class="dropdown">
                                    <p class="dropdown-toggle" id="grouplist" data-toggle="dropdown">
                                        {{detailVO.groupName}}
                                        <span class="caret"></span>
                                    </p>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="grouplist">
                                        <li ng-repeat="vo in group" ng-click="groupData(vo)">{{vo.name}}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <span class="title">Placement:<em>&#42;</em></span>
                                <div class="dropdown">
                                    <p class="dropdown-toggle" id="placelist" data-toggle="dropdown">
                                        {{detailVO.placeName}}
                                        <span class="caret"></span>
                                    </p>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="placelist">
                                        <li ng-repeat="vo in place" ng-click="placeData(vo)">{{vo.name}}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="upload_img clearfix" ng-repeat="vo in detailVO.imageList">
                                <span class="title text-capitalize">{{vo.imageName}}</span>
                                <button type="file" ngf-select="uploadPic(vo,$file, $invalidFiles)" accept="image/png, image/jpeg, image/gif" class="btn btn-primary" ng-hide="detailVO.status">Upload</button>
                                <div class="div_img" ng-show="vo.imageUrlForShow || vo.begin_upload">
                                    <uib-progressbar max="100" value="dynamic" ng-show="vo.begin_upload" class="progress-striped active"><b>{{dynamic}}%</b></uib-progressbar>
                                    <div class="img-container">
                                        <img ng-src="{{vo.imageUrlForShow}}" ng-show="vo.imageUrlForShow">
                                        <span ng-click="delete(vo)" ng-show="vo.imageUrlForShow" ng-hide="detailVO.status">&times;</span>
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="vo in detailVO.titleList">
                                <span class="title text-capitalize">{{vo.titleName}}</span>
                                <input type="text" ng-model="vo.value" ng-readonly="{1: 'true'}[detailVO.status]">
                                <span class="msg"></span>
                            </li>
                        </ul>
                        <div class="tab-pane" ng-class="{true: 'active'}[showTab === 'targeting']">
                            <div targeting attr-targeting="detailVO" attr-state="dataState"></div>
                        </div>
                        <div class="tab-pane" ng-class="{true: 'active'}[showTab === 'apps']">
                            <ul ng-show="{0:'showApp'}[detailVO.inServer]">
                                <li>
                                    <span class="title">Target URL:</span>
                                    <input type="text" ng-model="detailVO.targetUrl" ng-readonly="{1: 'true'}[detailVO.status]">
                                    <span class="url">Wrong URL Format</span>
                                </li>
                                <li>
                                    <span class="title">Deep Linking:</span>
                                    <select></select>
                                    <select></select>
                                </li>
                            </ul>
                            <ul ng-show="{1:'showApp'}[detailVO.inServer]">
                                <li>
                                    <span class="title">Category:</span>
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="categroylist" data-toggle="dropdown">
                                            {{detailVO.category}}
                                            <span class="caret"></span>
                                        </p>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="categroylist">
                                            <li ng-repeat="vo in category" ng-click="detailVO.category=vo">{{vo}}</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Publish Time:</span>
                                    <input type="text" id="publishtime" name="publish" date-publish publish-start="publishTimeStartForShow" publish-end="publishTimeEndForShow" readonly>
                                    <i class="glyphicon glyphicon-remove clear-data clear-pubdata" ng-click="clearPubDate($event)"></i>
                                </li>
                                <li>
                                    <span class="title">Rank:</span>
                                    <ul class="unstyled">
                                        <li ng-click="detailVO.rank=0"><i class="fa fa-dot-circle-o" ng-class="{0:'active'}[detailVO.rank]"></i>Up to Down</li>
                                        <li ng-click="detailVO.rank=1"><i class="fa fa-dot-circle-o" ng-class="{1:'active'}[detailVO.rank]"></i>Down to Up</li>
                                        <li ng-click="detailVO.rank=2"><i class="fa fa-dot-circle-o" ng-class="{2:'active'}[detailVO.rank]"></i>Random</li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="title">App Name:</span>
                                    <input type="text" ng-model="detailVO.targetAppName">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn btn-warning fw-100 m-r-lg" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary fw-100" ng-click="saveData()" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
        </div>
    </div>
</div>
