<div class="wrapper wrapper-content" ng-controller="campaignOperationCtrl">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Name:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.name" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Priority:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.priority" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">App in our server:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <ul class="unstyled">
                        <li class="inline m-r-sm" ng-click="changeServer(1)">
                            <i class="fa fa-dot-circle-o" ng-class="{1:'text-success'}[detailVO.inServer]"></i> Yes
                        </li>
                        <li class="inline m-r-sm" ng-click="changeServer(0)">
                            <i class="fa fa-dot-circle-o" ng-class="{0:'text-success'}[detailVO.inServer]"></i> No
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t-md" ng-hide="detailVO.inServer">
                <label class="col-xs-2 col-sm-3 text-right">Add to reva offer:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8">
                    <ul class="unstyled">
                        <li class="inline m-r-sm" ng-click="changeInput(1)">
                            <i class="fa fa-dot-circle-o" ng-class="{1:'text-success'}[detailVO.input]"></i> Yes
                        </li>
                        <li class="inline" ng-click="changeInput(0)">
                            <i class="fa fa-dot-circle-o" ng-class="{0:'text-success'}[detailVO.input]"></i> No
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Payout:</label>
                <div class="col-xs-6 col-sm-8">
                    <input type="text" class="form-control" ng-model="detailVO.payout" ng-readonly="{1: 'true'}[detailVO.status]">
                </div>
            </div>
            <div class="row m-t-md">
                <label class="col-xs-2 col-sm-3 text-right">Date:<em>&#42;</em></label>
                <div class="col-xs-6 col-sm-8 has-feedback">
                    <input date-pastlimited id="datarange" class="form-control" type="text" data-start="startDate" data-end="endDate">
                    <i class="fa fa-times form-control-feedback m-r" style="pointer-events: auto" ng-click="clearDate()"></i>
                </div>
            </div>
            <div class="m-t-md">
                <div class="tab-list">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li ng-click="showTab = 'placement'" ng-class="{true: 'active'}[showTab === 'placement']">
                            <a href="javascript:void(0)">Placement</a>
                        </li>
                        <li ng-click="showTab = 'targeting'" ng-class="{true: 'active'}[showTab === 'targeting']">
                            <a href="javascript:void(0)">Targeting</a>
                        </li>
                        <li ng-click="showTab = 'apps'" ng-class="{true: 'active'}[showTab === 'apps']">
                            <a href="javascript:void(0)" ng-show="{1:'showApp'}[detailVO.inServer]">Apps</a>
                            <a href="javascript:void(0)" ng-show="{0:'showApp'}[detailVO.inServer]">URL</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content p-h-md table-bordered no-top-border">
                        <ul class="tab-pane" ng-class="{true: 'active'}[showTab === 'placement']">
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">App &amp; Version:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                       <option ng-repeat="app in appList" value="{{app.appId}}">{{app.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.appName}}" confirm="appData()"></single-select-id>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                       <option ng-repeat="version in versionList">{{version.version}}</option>>
                                    </select>
                                    <single-select class="chosen-select" ng-model="detailVO.version" placehoder-text="{{detailVO.version}}" confirm="versionData()"></single-select>
                                </div>
                            </li>
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">Group:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                       <option ng-repeat="group in groupList" value="{{group.groupId}}">{{group.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.groupName}}" confirm="groupData()"></single-select-id>
                                </div>
                            </li>
                            <li class="row m-b-md">
                                <label class="col-xs-2 col-sm-3 text-right">Placement:<em>&#42;</em></label>
                                <div class="col-xs-4 col-sm-4">
                                    <select class="ng-hide">
                                       <option ng-repeat="place in placeList" value="{{place.placementId}}">{{place.name}}</option>>
                                    </select>
                                    <single-select-id class="chosen-select" ng-model="selectData" placehoder-text="{{detailVO.placeName}}" confirm="placeData()"></single-select-id>
                                </div>
                            </li>
                            <li class="row m-b-md" ng-repeat="vo in detailVO.imageList">
                                <label class="col-xs-2 col-sm-3 text-right">{{vo.imageName}}</label>
                                <div class="col-xs-2 col-sm-3 fw-100 p-xs table-bordered m-l m-r" ng-show="vo.imageUrlForShow || vo.begin_upload">
                                    <uib-progressbar max="100" value="dynamic" ng-show="vo.begin_upload" class="progress-striped active"><b>{{dynamic}}%</b></uib-progressbar>
                                    <div>
                                        <img ng-src="{{vo.imageUrlForShow}}" ng-show="vo.imageUrlForShow" width="60" height="60">
                                        <span class="pull-right cursor" ng-click="delete(vo)" ng-show="vo.imageUrlForShow" ng-hide="detailVO.status">&times;</span>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-3">
                                    <button class="btn btn-primary fw-100" type="file" ngf-select="uploadPic(vo, $file, $invalidFiles)" accept="image/png, image/jpeg, image/gif" ng-hide="detailVO.status">Upload</button>
                                </div>
                            </li>
                            <li class="row m-b-md" ng-repeat="vo in detailVO.titleList">
                                <label class="col-xs-2 col-sm-3 text-right">{{vo.titleName}}</label>
                                <div class="col-xs-6 col-sm-8">
                                    <input type="text" class="form-control" ng-model="vo.value" ng-readonly="{1: 'true'}[detailVO.status]">
                                </div>
                            </li>
                        </ul>
                        <div class="tab-pane" ng-class="{true: 'active'}[showTab === 'targeting']">
                            <div targeting attr-targeting="detailVO" attr-state="dataState"></div>
                        </div>
                        <div class="tab-pane" ng-class="{true: 'active'}[showTab === 'apps']">
                            <ul ng-show="{0:'showApp'}[detailVO.inServer]">
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">Target URL:</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <input type="text" class="form-control" ng-model="detailVO.targetUrl" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </div>
                                </li>
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">Deep Linking:</label>
                                    <div class="col-xs-3 col-sm-4">
                                        <single-select class="chosen-select"></single-select>
                                    </div>
                                    <div class="col-xs-3 col-sm-4">
                                        <single-select class="chosen-select"></single-select>
                                    </div>
                                </li>
                            </ul>
                            <ul ng-show="{1:'showApp'}[detailVO.inServer]">
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">Category:</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <select class="ng-hide">
                                           <option ng-repeat="vo in category">{{vo}}</option>>
                                        </select>
                                        <single-select class="chosen-select" ng-model="detailVO.category" placehoder-text="{{detailVO.category}}"></single-select>
                                    </div>
                                </li>
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">Publish Time:</label>
                                    <div class="col-xs-6 col-sm-8 has-feedback">
                                        <input date-unlimited type="text" id="publishtime" class="form-control" data-start="publishTimeStartForShow" data-end="publishTimeEndForShow">
                                        <i class="fa fa-times form-control-feedback m-r" style="pointer-events: auto" ng-click="clearPubDate()"></i>
                                    </div>
                                </li>
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">Rank:</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <ul class="unstyled">
                                            <li class="inline m-r-sm" ng-click="detailVO.rank=0"><i class="fa fa-dot-circle-o m-r-xs" ng-class="{0:'text-success'}[detailVO.rank]"></i>Up to Down</li>
                                            <li class="inline m-r-sm" ng-click="detailVO.rank=1"><i class="fa fa-dot-circle-o m-r-xs" ng-class="{1:'text-success'}[detailVO.rank]"></i>Down to Up</li>
                                            <li class="inline m-r-sm" ng-click="detailVO.rank=2"><i class="fa fa-dot-circle-o m-r-xs" ng-class="{2:'text-success'}[detailVO.rank]"></i>Random</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="row m-b-md">
                                    <label class="col-xs-2 col-sm-3 text-right">App Name:</label>
                                    <div class="col-xs-6 col-sm-8">
                                        <input type="text" class="form-control" ng-model="detailVO.targetAppName">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-center p-h-lg">
            <button class="btn btn-warning fw-100 m-r-lg" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary fw-100" ng-click="saveData()" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
        </div>
    </div>
</div>
