<div class="form-group">
    <div class="col-sm-2">
        <div class="dropdown os_filter">
            <div>
                <input type="text" class="form-control" ng-model="item.key" readonly>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <input type="text" class="form-control" ng-model="item.condition" readonly>
            </div>
        </div>
    </div>
    <div class="col-sm-2" ng-if="item.key !='Create Time'">
        <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown" ng-click="checkData()">
                <input type="text" class="form-control" ng-model="item.value1" readonly>
            </div>
        </div>
    </div>
    <div class="col-sm-2" ng-if="item.key=='Create Time'">
        <input type="text" class="form-control" ng-model="item.value1">
    </div>
    <div class="col-xs-1" ng-if="item.condition=='between'">
        ~
    </div>
    <div class="col-sm-2" ng-if="item.condition=='between' &#38;&#38; item.key=='Create Time'">
        <input type="text" class="form-control"  ng-model="item.value2">
    </div>
    <div class="col-sm-2" ng-if="(item.value2 || item.condition=='between' ) &#38;&#38; item.key!='Create Time'">
         <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown" ng-click="checkData()">
                <input type="text" class="form-control" ng-model="item.value2" readonly>
            </div>
        </div>
    </div>
    <p class="col-sm-2" ng-if="item.key=='Device'">
        <input type="text" class="form-control" title="{{item.value3}}"  ng-model="item.value3" readonly>
    </p>
    <span class="spec" ng-if="item.key=='Create Time'">days</span>
   
</div>
