<div class="tab-pane">
    <div class="search-bar">
        <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <p class="form-control">Type</p><span class="caret"></span></div>
            <ul class="dropdown-menu">
                <li>Update Package</li>
                <li>Hot Fix</li>
            </ul>
        </div>
        <div multi-select datalists="pushStatus" datavalue="status" confirm="setParam()"></div>
        <span class="seach-input">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" class="form-control" placeholder="Search" ng-model="keywords" ng-keyup="setParam()">
        </span>
        <a href="#/view/update/newVersion/0/new/{{appName}}/{{packageName}}" ng-show="permission.update">
            <div class="add-version">+&nbsp;&nbsp;New Version</div>
        </a>
        <a href="#/view/update/newHotfix/0/new/{{appName}}/{{packageName}}" ng-show="permission.update">
            <div class="add-version">+&nbsp;&nbsp;New Hot Fix</div>
        </a>
    </div>
    <div class="select-item" ng-show="status.length">
        <span class="label-select" ng-repeat="item in status">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="changeStatus(item)">
                            <span aria-hidden="true">&times;</span>
        </button>
        <span>{{item}}</span>
        </span>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Version</th>
                <th>Size</th>
                <th>Type</th>
                <th>Active Users(%)</th>
                <th>Update Note</th>
                <th>Update Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vo in list">
                <td><img ng-src="{{vo.appicon}}"></td>
                <td>{{vo.version_name}}</td>
                <td>{{vo.size}}</td>
                <td>{{vo.isnew}}</td>
                <td>{{vo.activeuser}}</td>
                <td>{{vo.updatenote}}</td>
                <td>{{vo.fronttime}}</td>
                <td><span popover-placement="bottom" popover-is-open="tipOpen" ng-mouseenter="tipOpen=true" ng-mouseleave="tipOpen=false" uib-popover="{{vo.provetext}}" class="state" ng-class="{'Approved':'approved', 'Unapproved': 'unapproved','Checking':'checking'}[vo.status]">{{vo.status}}</span></td>
                <td>
                    <div class="dropdown">
                        <p data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</p>
                        <div class="dropdown-menu" ng-show="vo.status == 'Unapproved' || permission.review">
                            <div class="triangle-top">
                                <i class="arrow"></i>
                            </div>
                            <ul>
                                <a href="#/view/update/newVersion/{{vo.id}}/edit/{{appName}}/{{packageName}}" ng-show="vo.status == 'Unapproved' && permission.update && vo.isnew == 'Update Package'">
                                    <li><i class="glyphicon glyphicon-pencil"></i> Edit</li>
                                </a>
                                <a href="#/view/update/checkVersion/{{vo.id}}/edit" ng-show="permission.review && vo.isnew == 'Update Package'">
                                    <li><i class="glyphicon glyphicon-hand-up"></i> Review</li>
                                </a>
                                <a href="#/view/update/newHotfix/{{vo.id}}/edit/{{appName}}/{{packageName}}" ng-show="vo.status == 'Unapproved' && permission.update && vo.isnew == 'Hotfix'">
                                    <li><i class="glyphicon glyphicon-pencil"></i> Edit</li>
                                </a>
                                <a href="#/view/update/checkHotfix/{{appName}}/{{vo.id}}/edit" ng-show="permission.review && vo.isnew == 'Hotfix'">
                                    <li><i class="glyphicon glyphicon-hand-up"></i> Review</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-class="{true:'active'}[params.pagesize == 10]" ng-click="params.pagesize=10;loadList()">10</button>
        <button type="button" class="btn btn-default" ng-class="{true:'active'}[params.pagesize == 20]" ng-click="params.pagesize=20;loadList()">20</button>
        <button type="button" class="btn btn-default" ng-class="{true:'active'}[params.pagesize == 50]" ng-click="params.pagesize=50;loadList()">50</button>
    </div>
    <ul uib-pagination total-items="totalItems" ng-model="params.page" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="params.pagesize" ng-change="loadList()"></ul>
</div>
