<div class="tableau-model" ng-controller="regionCtrl">
    <div class="header">
        <span class="head-name">OS User Analysis</span>
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{0:'active'}[slide_num]" ng-click="showSlide(0)">OverView</li>
            <li ng-class="{1:'active'}[slide_num]" ng-click="showSlide(1)">New User</li>
            <li ng-class="{2:'active'}[slide_num]" ng-click="showSlide(2)">Active User</li>
        </ul>
    </div>
    <div class="con">
        <div class="banner">
            <ul>
                <li class="tableau-div"></li>
                <li class="tableau-div"></li>
                <li class="tableau-div"></li>
            </ul>
        </div>
    </div>
    <div class="load-fail">
        <span>Failed to load report. Please try to <a href="javascript:history.go(0)">refresh</a> this page.</span>
        <br>
        <br>
        <a href="#/view/da/tableau/dashboard" class="go-homepage">Go to Homepage</a>
    </div>
</div>
