<div class="tableau-model" ng-controller="modelCtrl">
    <div class="header">
        <span class="head-name">{{header_name}}</span>
        <ul class="nav navbar-nav navbar-right" ng-if="isShow">
            <li ui-sref="da.download" class="export"><i class="fa fa-print"></i>Export</li>
        </ul>
    </div>
    <div class="con">
        <div class="tableau-div"></div>
    </div>
    <div class="load-fail">
        <span>Failed to load report. Please try to <a href="javascript:history.go(0)">refresh</a> this page.</span>
        <br>
        <br>
        <a href="#/view/da/tableau/dashboard" class="go-homepage">Go to Homepage</a>
    </div>
</div>
