<div class="offer">
    <div class="edit">
        <div class="header">
            <ol class="breadcrumb">
                <li class="cursor" ng-click="cancel()">Ad Exchange</li>
                <li class="active">View</li>
            </ol>
        </div>
        <div class="edit-container">
            <ul>
                <li><span class="edit-key">Name:</span>
                    <input readonly type="text" ng-model="detailVO.offerName">
                </li>
                <li><span class="edit-key">CPX:</span>
                    <input readonly type="text" ng-model="detailVO.CPX">
                </li>
                <li><span class="edit-key">Icon URL:</span>
                    <input readonly type="text" ng-model="detailVO.icon">
                </li>
                <li><span class="edit-key">Advertiser:</span>
                    <input readonly type="text" ng-model="detailVO.advertiserName">
                </li>
                <li><span class="edit-key">App Name:</span>
                    <input readonly type="text" ng-model="detailVO.appname">
                </li>
                <li><span class="edit-key">App Description:</span>
                    <input readonly type="text" ng-model="detailVO.app_description">
                </li>
                <li><span class="edit-key">Category:</span>
                    <input readonly type="text" ng-model="detailVO.category">
                </li>
                <li><span class="edit-key">Conversion Flow:</span>
                    <input readonly type="text" ng-model="detailVO.conversion_flow">
                </li>
                <li><span class="edit-key">Countries:</span>
                    <input readonly type="text" ng-model="detailVO.countries">
                </li>
                <li><span class="edit-key">Exclusive:</span>
                    <input readonly type="text" ng-model="detailVO.exclusive">
                </li>
                <li><span class="edit-key">Incentive:</span>
                    <input readonly type="text" ng-model="detailVO.incentive">
                </li>
                <li><span class="edit-key">Offer ID:</span>
                    <input readonly type="text" ng-model="detailVO.offerId">
                </li>
                <li><span class="edit-key">Offer Type:</span>
                    <input readonly type="text" ng-model="detailVO.offer_type">
                </li>
                <li><span class="edit-key">Andriod Version:</span>
                    <input readonly type="text" ng-model="detailVO.os_min_version">
                </li>
                <li><span class="edit-key">Payout:</span>
                    <input readonly type="text" ng-model="detailVO.payout">
                </li>
                <li><span class="edit-key">Package:</span>
                    <input readonly type="text" ng-model="detailVO.pkgname">
                </li>
                <li><span class="edit-key">Package Size:</span>
                    <input readonly type="text" ng-model="detailVO.pkgSize">
                </li>
                <li><span class="edit-key">Platform:</span>
                    <input readonly type="text" ng-model="detailVO.platform">
                </li>
                <li><span class="edit-key">Ratings:</span>
                    <input readonly type="text" ng-model="detailVO.ratings">
                </li>
                <li><span class="edit-key">Daily Retention:</span>
                    <input readonly type="text" ng-model="detailVO.remaining_daily_cap">
                </li>
                <li><span class="edit-key">Tracklink:</span>
                    <input readonly type="text" ng-model="detailVO.tracklink">
                </li>
                <li><span class="edit-key">Traffic:</span>
                    <input readonly type="text" ng-model="detailVO.traffic">
                </li>
                <li><span class="edit-key">Type:</span>
                    <input readonly type="text" ng-model="detailVO.type">
                </li>
                <li><span class="edit-key">WTime:</span>
                    <input readonly type="text" ng-model="detailVO.wTime">
                </li>
                <li><span class="files edit-key">Creative:</span>
                    <ol class="creative-files" ng-if="detailVO.creative_files">
                        <li ng-repeat="file in detailVO.creative_files">
                            <span>{{$index+1}}</span>
                            <span class="file-title">Link:</span>
                            <span class="file-content">{{file.link}}</span>
                            <span class="file-title">Width:</span>
                            <span class="file-content">{{file.width}}</span>
                            <span class="file-title">Height:</span>
                            <span class="file-content">{{file.height}}</span>
                        </li>
                    </ol>
                </li>
                <li class="edit-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                </li>
            </ul>
        </div>
    </div>
</div>
