<div class="roleView" id="roleView">
	<div class="header">
		<ol class="breadcrumb">
			<li><strong>Role</strong></li>
			<li>Edit</li>
		</ol>
		<ul class="nav navbar-nav navbar-right">
            <li><a href="#/view/admin/role/edit" ng-click="roleCreate('create')">+&nbsp;&nbsp;Create Role</a></li>
        </ul>
	</div>
	
	<div class="viewer">
		<div class="title">
			<sapn>Role List</sapn>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Enabled</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in roleList">
						<td>{{item.name}}</td>
						<td>
							<div ng-show="!item.isDefault">
								<span ng-class="{0: 'turn-on', 1: 'turn-off'}[item.isDisabled]" ng-click="isDisabled(item)" ng-show="item.name.toLowerCase() != roleAdmin"></span>
							</div>
						</td>
						<td>
							<div ng-show="item.isDefault">
								<a href="#/view/admin/role/edit" ng-click="roleUpdate(item)"><i class="glyphicon glyphicon-pencil"></i></a>
							</div>
							<div ng-show="!item.isDefault">
								<a href="#/view/admin/role/edit" ng-click="roleUpdate(item)"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;&nbsp;
								<a ng-click="roleDelete(item)"><i class="glyphicon glyphicon-trash"></i></a>
							</div>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	
	</div>

	<div class="footer">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-class="{'active':pageBar.pageSize == 20}" ng-click="selectPageSize('20')">20</button>
			<button type="button" class="btn btn-default" ng-class="{'active':pageBar.pageSize == 50}" ng-click="selectPageSize('50')">50</button>
			<button type="button" class="btn btn-default" ng-class="{'active':pageBar.pageSize == 100}" ng-click="selectPageSize('100')">100</button>
		</div>
		<ul uib-pagination total-items="pageBar.totalRows" ng-model="pageBar.pageIndex" max-size="5" previous-text="<" next-text=">
			" boundary-link-numbers="true" items-per-page="pageBar.pageSize" ng-change="selectPageIndex()">
		</ul>
	</div>

</div>