<div class="update-list">
    <div class="header">
        <ul class="nav navbar-nav navbar-left breadcrumb">
            <li>App Management</li>
        </ul>
        <div class="add-box">
            <a href="#/view/admin/newApp/0/new"><button class="add-btn">+ New App</button></a>
        </div>
    </div>
    <div class="list-content">
        <div class="tab-content">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>App Name</th>
                        <th>Version</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>Submit Time</th>
                        <th>Status</th>
                        <!-- <th>Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vo in list | filter: keywords">
                        <td><img ng-src="{{vo.appicon}}"></td>
                        <td>{{vo.app}}</td>
                        <td>{{vo.version_name}}</td>
                        <td>{{vo.size}}</td>
                        <td>{{vo.isnew}}</td>
                        <td>{{vo.fronttime}}</td>
                        <td><span popover-placement="bottom" popover-is-open="tipOpen" ng-mouseenter="tipOpen=true" ng-mouseleave="tipOpen=false" uib-popover="{{vo.provetext}}" class="state" ng-class="{'Approved':'approved', 'Unapproved': 'unapproved','Checking':'checking'}[vo.status]">{{vo.status}}</span></td>
                        <!-- <td>
                            <div class="dropdown">
                                <p data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</p>
                                <div class="dropdown-menu">
                                    <div class="triangle-top">
                                        <i class="arrow"></i>
                                    </div>
                                    <ul>
                                        <a href="#/view/update/checkVersion/{{vo.id}}/edit"><li ng-click="editDetail(vo,'edit')"><i class="glyphicon glyphicon-pencil"></i> Edit</li></a>
                                    </ul>
                                </div>
                            </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <div class="footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-class="{true:'active'}[params.pagesize == 10]" ng-click="params.pagesize=10;loadList()">10</button>
                    <button type="button" class="btn btn-default" ng-class="{true:'active'}[params.pagesize == 20]" ng-click="params.pagesize=20;loadList()">20</button>
                    <button type="button" class="btn btn-default" ng-class="{true:'active'}[params.pagesize == 50]" ng-click="params.pagesize=50;loadList()">50</button>
                </div>
                <ul uib-pagination total-items="totalItems" ng-model="params.page" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="params.pagesize" ng-change="loadList()"></ul>
            </div>
        </div>
    </div>
</div>
