<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-group">
            <span> if</span>
            <div class="col-sm-2">
                <select class="form-control" ng-model="segments.isAnd">
                    <option value="1" ng-selected="segments.isAnd == 1">All</option>
                    <option value="0" ng-selected="segments.isAnd == 0">Any</option>
                </select>
            </div>
            <span> of the following are</span>
            <div class="col-sm-2">
                <select class="form-control" ng-model="segments.isTrue">
                    <option value="1" ng-selected="segments.isTrue == '1'">True</option>
                    <option value="0" ng-selected="segments.isTrue == '0'">False</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-repeat="item in segments.params">
        <div class="label label-default" ng-if="$index > 0">{{segments.isAnd==1?"AND":"OR"}}</div>
        <div ng-if="item" sql-fields></div>
    </div>
    <div class="panel-footer">
        <span ng-click="addCondition(segments)"> + Add a condition</span>
    </div>
</div>
