<div class="form-group">
    <div class="col-sm-2">
        <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <input type="text" class="form-control" ng-model="item.key" readonly><span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li ng-click="changeName(item,'Device')">Device</li>
                <li ng-click="changeName(item,'Android Version')">Android Version</li>
                <li ng-click="changeName(item,'Location')">Location</li>
                <li ng-click="changeName(item,'Create Time')">Create Time</li>
                <li ng-click="changeName(item,'Client ID')">Client ID</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <input type="text" class="form-control" ng-model="item.condition" readonly><span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li ng-show="item.key=='Device' || item.key=='Location' || item.key=='Client ID'" ng-click="setValue(item, 'condition', 'is')">is</li>
                <li ng-show="item.key=='Device' || item.key=='Location' || item.key=='Client ID'" ng-click="setValue(item, 'condition', 'is not')">is not</li>
                <li ng-show="item.key=='Client ID'" ng-click="setValue(item, 'condition', 'are')" ng-if="clientAre">are</li>
                <li ng-show="item.key=='Android Version'" ng-click="setValue(item, 'condition', 'is above')">is above</li>
                <li ng-show="item.key=='Create Time'" ng-click="setValue(item, 'condition', 'more than')">more than</li>
                <li ng-show="item.key=='Android Version' || item.key=='Create Time'" ng-click="setValue(item, 'condition', 'between')">between</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2" ng-if="item.key !='Create Time' && item.key !='Client ID'">
        <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown" ng-click="checkData()">
                <input type="text" class="form-control" ng-model="item.value1" readonly><span class="caret"></span>
            </div>
            <ul class="dropdown-menu" ng-if="item.key=='Device'">
               <!--  <li ng-click="changeValue(item, 'All Devices')">All Devices</li> -->
                <li ng-repeat="option in devices" ng-click="changeValue(item,option.chl)">{{option.chl}}</li>
            </ul>
            <ul class="dropdown-menu" ng-if="item.key=='Location'">
            <!--    <li ng-click="changeValue(item, 'All Country')">All Country</li> -->
                <li ng-repeat="option in areas" ng-click="changeValue(item,option.country)">{{option.country}}</li>
            </ul>
            <ul class="dropdown-menu" ng-if="item.key=='Android Version'">
                <li ng-repeat="option in androidVersion" ng-click="changeValue(item,option)">{{option}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2" ng-if="item.key=='Create Time'">
        <input type="text" class="form-control" ng-model="item.value1">
    </div>
    <div class="col-xs-1" ng-if="item.condition=='between'">
        ~
    </div>
    <div class="col-sm-2" ng-if="item.condition=='between' &#38;&#38; item.key=='Create Time'">
        <input type="text" class="form-control"  ng-model="item.value2">
    </div>
    <div class="col-sm-2" ng-if="(item.value2 || item.condition=='between' ) &#38;&#38; item.key!='Create Time'">
         <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown" ng-click="checkData()">
                <input type="text" class="form-control" ng-model="item.value2" readonly><span class="caret"></span>
            </div>
            <ul class="dropdown-menu" ng-if="item.key=='Device'" ng-repeat="one in devices | filter:{chl: item.value1}">
                <li ng-click="setValue(item, 'value2', 'All Devices')">All Devices</li>
                <li ng-repeat="option in one.mod" ng-click="setValue(item, 'value2', option, 1)">{{option}}</li>
            </ul>
            <ul class="dropdown-menu" ng-if="item.key=='Location'" ng-repeat="one in areas | filter:{country: item.value1}">
               <li ng-click="setValue(item, 'value2', 'All States')">All States</li>
                <li ng-repeat="option in one.state" ng-click="setValue(item, 'value2', option)">{{option}}</li>
            </ul>
            <ul class="dropdown-menu" ng-if="item.key=='Android Version'">
                <li ng-repeat="option in androidVersion" ng-click="setValue(item, 'value2', option)">{{option}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2"  ng-if="item.key=='Device'">
         <div class="dropdown os_filter">
            <div class="dropdown-toggle" data-toggle="dropdown" ng-click="checkData()">
                <input type="text" class="form-control" ng-model="item.value3" readonly><span class="caret"></span>
            </div>
            <ul class="dropdown-menu" ng-if="item.key=='Device'">
                <li ng-click="setValue(item, 'value3', 'All OS Versions')">All OS Versions</li>
                <li ng-repeat="os in OSList" ng-click="setValue(item, 'value3' ,os)" title="{{os}}">{{os}}</li>
            </ul>
        </div>
    </div>
    <span class="spec" ng-if="item.key=='Create Time'">days</span>
    <div class="col-sm-3" ng-if="item.key=='Client ID'">
        <input type="text" class="form-control" ng-model="item.value1" ng-readonly="item.condition=='are'">
        <button type="file" ngf-select="uploadClient($file, $invalidFiles, item)" accept=".txt" name="file" class="btn btn-primary clientBtn" ng-show="item.condition=='are'">Upload</button>
    </div>
    <div class="col-sm-1">
        <div class="dropdown btn-drop">
            <div class="dropdown-toggle" data-toggle="dropdown">
                ...
            </div>
            <div class="dropdown-menu">
                <div class="triangle-top">
                    <i class="arrow"></i>
                </div>
                <ul>
                    <!-- <li ng-click="addChild(item)" ng-hide="isChilds == 'true'">Add a Item</li> -->
                    <li ng-click="remove($index)">Remove</li>
                </ul>
            </div>
        </div>
    </div> 
   
</div>
