<div class="campaign-overview">
    <div class="header">
        <span class="head-name">Dashboard</span>
        <div class="campaign-date">
            <i class="glyphicon glyphicon-calendar"></i>
            <input type="text" readonly report-date>
        </div>
    </div>
    <div class="overview-container">
        <h5></h5>
        <div class="view">
        	<ul>
				<li>
                    <span>Requests</span><br>
					<b>{{statics.request===''?'-':statics.request}}</b><br>
                    <i class="glyphicon glyphicon-arrow-up" ng-show="rate.reqFlag=='+' && rate.reqRate!=0"></i>
                    <i class="glyphicon glyphicon-arrow-down" ng-show="rate.reqFlag=='-' && rate.reqRate!=0"></i>
					<span>{{rate.reqRate===''?'-':rate.reqRate + '%'}}</span>
				</li>
				<li>
                    <span>Impressions</span><br>
                    <b>{{statics.imp===''?'-':statics.imp}}</b><br>
                    <i class="glyphicon glyphicon-arrow-up" ng-show="rate.impFlag=='+' && rate.impRate!=0"></i>
                    <i class="glyphicon glyphicon-arrow-down" ng-show="rate.impFlag=='-' && rate.impRate!=0"></i>
                    <span>{{rate.impRate===''?'-':rate.impRate + '%'}}</span>
				</li>
				<li>
                    <span>Clicks</span><br>
                    <b>{{statics.click===''?'-':statics.click}}</b><br>
                    <i class="glyphicon glyphicon-arrow-up" ng-show="rate.clickFlag=='+' && rate.clickRate!=0"></i>
                    <i class="glyphicon glyphicon-arrow-down" ng-show="rate.clickFlag=='-' && rate.clickRate!=0"></i>
                    <span>{{rate.clickRate===''?'-':rate.clickRate + '%'}}</span>
				</li>
				<li>
                    <span>Conversions</span><br>
                    <b>{{statics.conversion===''?'-':statics.conversion}}</b><br>
                    <i class="glyphicon glyphicon-arrow-up" ng-show="rate.conversionFlag=='+' && rate.conversionRate!=0"></i>
                    <i class="glyphicon glyphicon-arrow-down" ng-show="rate.conversionFlag=='-' && rate.conversionRate!=0"></i>
                    <span>{{rate.conversionRate===''?'-':rate.conversionRate + '%'}}</span>
				</li>
                <li>
                    <span>eCPM</span><br>
                    <b>{{statics.eCPM===''?'-':statics.eCPM}}</b><br>
                    <i class="glyphicon glyphicon-arrow-up" ng-show="rate.eCPMFlag=='+' && rate.eCPMRate!=0"></i>
                    <i class="glyphicon glyphicon-arrow-down" ng-show="rate.eCPMFlag=='-' && rate.eCPMRate!=0"></i>
                    <span>{{rate.eCPMRate===''?'-':rate.eCPMRate + '%'}}</span>                
                </li>
                <li>
                    <span>Revenue</span><br>
                    <b>{{statics.revenue===''?'-':statics.revenue}}</b><br>
                    <i class="glyphicon glyphicon-arrow-up" ng-show="rate.revenueFlag=='+' && rate.revenueRate!=0"></i>
                    <i class="glyphicon glyphicon-arrow-down" ng-show="rate.revenueFlag=='-' && rate.revenueRate!=0"></i>
                    <span>{{rate.revenueRate===''?'-':rate.revenueRate + '%'}}</span>
                </li>
        	</ul>
        </div>
        <h5></h5>
        <div class="summary">
        	<div class="summary-filter clearfix">
                <label for="">Summary By:</label>
                <div class="dropdown">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{typeName}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="typeData('request','Requests')">Requests</li>
                        <li ng-click="typeData('imp','Impressions')">Impressions</li>
                        <li ng-click="typeData('click','Clicks')">Clicks</li>
                        <li ng-click="typeData('conversion','Conversions')">Conversions</li>
                        <li ng-click="typeData('eCPM','eCPM')">eCPM</li>
                        <li ng-click="typeData('revenue','Revenue')">Revenue</li>
                    </ul>
                </div>
        		<ul class="chart-change">
        			<li class="fa fa-bar-chart" ng-click="changeChart($event,0)"></li>
                    <li class="fa fa-line-chart active" ng-click="changeChart($event,1)"></li>
        			<li class="fa fa-pie-chart" ng-click="changeChart($event,2)"></li>
        		</ul>
        	</div>
            <div class="summary-chart" id="chart-bar" style="z-index: 0;"></div>
            <div class="summary-chart" id="chart-line" style="z-index: 1;"></div>
        	<div class="summary-chart" id="chart-pie" style="z-index: 0;"></div>
        </div>
        <div class="top-five">
            <div class="revenue">
                <h5>Top 5 Campaigns (Revenue)</h5>
                <div class="revenue-chart" id="camp-chart"></div>
            </div>
            <div class="revenue">
                <h5>Top 5 Brands & Models (Revenue)</h5>
                <div class="revenue-chart" id="brand-chart"></div>
            </div>
        </div>
        <div class="table-container">
            <div class="table-header">
                <label class="table-title">Unique Users</label>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>App<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('appId')" ng-class="{'appId': 'active'}[uniqueField]"></i></th>
                        <th>Request<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('request')" ng-class="{'request': 'active'}[uniqueField]"></i></th>
                        <th>Unique Request<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('uniqueRequest')" ng-class="{'uniqueRequest': 'active'}[uniqueField]"></i></th>
                        <th>IMP<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('imp')" ng-class="{'imp': 'active'}[uniqueField]"></i></th>
                        <th>Unique IMP<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('uniqueImp')" ng-class="{'uniqueImp': 'active'}[uniqueField]"></i></th>
                        <th>CLK<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('click')" ng-class="{'click': 'active'}[uniqueField]"></i></th>
                        <th>Unique CLK<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('uniqueClick')" ng-class="{'uniqueClick': 'active'}[uniqueField]"></i></th>
                        <th>Revenue($)<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('revenue')" ng-class="{'revenue': 'active'}[uniqueField]"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in uniqueList">
                        <td>{{list.appName==''?'--':list.appName}}</td>
                        <td>{{list.request==''?'--':list.request}}</td>
                        <td>{{list.uniqueRequest==''?'--':list.uniqueRequest}}</td>
                        <td>{{list.imp==''?'--':list.imp}}</td>
                        <td>{{list.uniqueImp==''?'--':list.uniqueImp}}</td>
                        <td>{{list.click==''?'--':list.click}}</td>
                        <td>{{list.uniqueClick==''?'--':list.uniqueClick}}</td>
                        <td>{{list.revenue==''?'--':list.revenue}}</td>
                    </tr>
                </tbody>
            </table>  
            <div class="table-pagenation clearfix">
                <ul uib-pagination class="pull-right" total-items="uniqueCount" ng-model="uniquePage" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="10" ng-change="loadUniqueList()"></ul>
            </div> 
        </div>
        <div class="table-container">
            <div class="table-header">
                <label class="table-title">Reports By:</label>
                <div class="dropdown">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{channelName}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="reportBy('Campaign')">Campaign</li>
                        <li ng-click="reportBy('App')">App</li>
                        <li ng-click="reportBy('AdNetwork')">AdNetwork</li>
                        <li ng-click="reportBy('Channel')">Channel</li>
                    </ul>
                </div>
                <div class="dropdown" ng-show="channelName=='Channel'">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{channel1Name}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu">
                        <li  ng-click="channel1Data('All')">All</li>
                        <li ng-repeat="channel1 in channel1List" ng-click="channelData(1, channel1)">{{channel1}}</li>
                    </ul>
                </div>
                <div class="dropdown" ng-show="channelName=='Channel'">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{channel2Name}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="">All</li>
                        <li ng-repeat="channel2 in channel2List" ng-click="channelData(0, channel2)">{{channel2}}</li>
                    </ul>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th ng-show="channelName=='Campaign'">Campaign<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('adName')" ng-class="{'adName': 'active'}[reportField]"></i></th>
                        <th ng-show="channelName=='AdNetwork'">AdNetwork<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('advertiserName')" ng-class="{'advertiserName': 'active'}[reportField]"></i></th>
                        <th ng-show="channelName=='Channel'">Channel 1<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('channelId1')" ng-class="{'channelId1': 'active'}[reportField]"></i></th>
                        <th ng-show="channelName=='Channel'">Channel 2<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('channelId2')" ng-class="{'channelId2': 'active'}[reportField]"></i></th>
                        <th ng-show="channelName=='Campaign' || channelName=='App'">App<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('appName')" ng-class="{'appName': 'active'}[reportField]"></i></th>
                        <th ng-show="channelName=='Campaign'">CPX<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('cpx')" ng-class="{'cpx': 'active'}[reportField]"></i></th>
                        <th ng-show="channelName=='Campaign'">Prices($)<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('price')" ng-class="{'price': 'active'}[reportField]"></i></th>
                        <th>IMP<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('imp')" ng-class="{'imp': 'active'}[reportField]"></i></th>
                        <th>CLK<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('click')" ng-class="{'click': 'active'}[reportField]"></i></th>
                        <th>Conversions<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('conversion')" ng-class="{'conversion': 'active'}[reportField]"></i></th>
                        <th>eCPM<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('eCPM')" ng-class="{'eCPM': 'active'}[reportField]"></i></th>
                        <th>Revenue($)<i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('revenue')" ng-class="{'revenue': 'active'}[reportField]"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in dataList">
                        <td ng-show="channelName=='Campaign'">{{list.adName}}</td>
                        <td ng-show="channelName=='AdNetwork'">{{list.advertiserName}}</td>
                        <td ng-show="channelName=='Channel'">{{list.channelId1}}</td>
                        <td ng-show="channelName=='Channel'">{{list.channelId2}}</td>
                        <td ng-show="channelName=='Campaign' || channelName=='App'">{{list.appName==''?'--':list.appName}}</td>
                        <td ng-show="channelName=='Campaign'">{{list.cpx==''?'--':list.cpx}}</td>
                        <td ng-show="channelName=='Campaign'">{{list.price==''?'--':list.price}}</td>
                        <td>{{list.impression==''?'--':list.impression}}</td>
                        <td>{{list.click==''?'--':list.click}}</td>
                        <td>{{list.conversion==''?'--':list.conversion}}</td>
                        <td>{{list.eCPM==''?'--':list.eCPM}}</td>
                        <td>{{list.revenue==''?'--':list.revenue}}</td>
                    </tr>
                </tbody>
            </table>  
            <div class="table-pagenation clearfix">
                <ul uib-pagination class="pull-right" total-items="reportCount" ng-model="reportPage" max-size="5" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="10" ng-change="loadReportList()"></ul>
            </div> 
        </div>
    </div>
</div>