<div class="campaign-overview">
    <div class="header">
        <span class="head-name">Dashboard</span>
        <div class="campaign-date">
            <i class="glyphicon glyphicon-calendar"></i>
            <input type="text" readonly report-date>
        </div>
    </div>
    <div class="overview-container">
        <h5></h5>
        <div class="view" ng-show="rate">
        	<ul>
				<li>
                    <span>Requests</span><br>
                    <div class="view-data" ng-if="rate.requestOp">
                        <span class="view-data-number">OP: {{rate.requestOp}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.reqFlagOp=='+' && rate.reqRateOp!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.reqFlagOp=='-' && rate.reqRateOp!=0"></i>
                        <span>{{rate.reqRateOp}}<span ng-show="rate.reqRateOp !== '--'">%</span></span>
                    </div>
					<div class="view-data">
                        <span class="view-data-number">AD: {{rate.request}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.reqFlag=='+' && rate.reqRate!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.reqFlag=='-' && rate.reqRate!=0"></i>
                        <span>{{rate.reqRate}}<span ng-show="rate.reqRate !== '--'">%</span></span>
                    </div>
				</li>
				<li>
                    <span>Impressions</span><br>
                    <div class="view-data" ng-if="rate.impOp">
                        <span class="view-data-number">OP: {{rate.impOp}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.impFlagOp=='+' && rate.impRateOp!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.impFlagOp=='-' && rate.impRateOp!=0"></i>
                        <span>{{rate.impRateOp}}<span ng-show="rate.impRateOp !== '--'">%</span></span>
                    </div>
                    <div class="view-data">
                        <span class="view-data-number">AD: {{rate.imp}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.impFlag=='+' && rate.impRate!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.impFlag=='-' && rate.impRate!=0"></i>
                        <span>{{rate.impRate}}<span ng-show="rate.impRate !== '--'">%</span></span>
                    </div>
				</li>
				<li>
                    <span>Clicks</span><br>
                    <div class="view-data" ng-if="rate.clickOp">
                        <span class="view-data-number">OP: {{rate.clickOp}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.clickFlagOp=='+' && rate.clickRateOp!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.clickFlagOp=='-' && rate.clickRateOp!=0"></i>
                        <span>{{rate.clickRateOp}}<span ng-show="rate.clickRateOp !== '--'">%</span></span>
                    </div>
                    <div class="view-data">
                        <span class="view-data-number">AD: {{rate.click}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.clickFlag=='+' && rate.clickRate!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.clickFlag=='-' && rate.clickRate!=0"></i>
                        <span>{{rate.clickRate}}<span ng-show="rate.clickRate !== '--'">%</span></span>
                    </div>
				</li>
				<li>
                    <span>Conversions</span><br>
                    <div class="view-data" ng-if="rate.conversionOp">
                        <span class="view-data-number">OP: {{rate.conversionOp}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.conversionFlagOp=='+' && rate.conversionRateOp!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.conversionFlagOp=='-' && rate.conversionRateOp!=0"></i>
                        <span>{{rate.conversionRateOp}}<span ng-show="rate.conversionRateOp !== '--'">%</span></span>
                    </div>
                    <div class="view-data">
                        <span class="view-data-number">AD: {{rate.conversion}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.conversionFlag=='+' && rate.conversionRate!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.conversionFlag=='-' && rate.conversionRate!=0"></i>
                        <span>{{rate.conversionRate}}<span ng-show="rate.conversionRate !== '--'">%</span></span>
                    </div>
				</li>
                <li>
                    <span>eCPM</span><br>
                    <div class="view-data" ng-if="rate.eCPMOp">
                        <span class="view-data-number">OP: {{rate.eCPMOp}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.eCPMFlagOp=='+' && rate.eCPMRateOp!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.eCPMFlagOp=='-' && rate.eCPMRateOp!=0"></i>
                        <span>{{rate.eCPMRateOp}}<span ng-show="rate.eCPMRateOp !== '--'">%</span></span> 
                    </div>
                    <div class="view-data">
                        <span class="view-data-number">AD: {{rate.eCPM}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.eCPMFlag=='+' && rate.eCPMRate!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.eCPMFlag=='-' && rate.eCPMRate!=0"></i>
                        <span>{{rate.eCPMRate}}<span ng-show="rate.eCPMRate !== '--'">%</span></span> 
                    </div>               
                </li>
                <li>
                    <span>Revenue</span><br>
                    <div class="view-data" ng-if="rate.revenueOp">
                        <span class="view-data-number">OP: {{rate.revenueOp}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.revenueFlagOp=='+' && rate.revenueRateOp!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.revenueFlagOp=='-' && rate.revenueRateOp!=0"></i>
                        <span>{{rate.revenueRateOp}}<span ng-show="rate.revenueRateOp !== '--'">%</span></span>
                    </div>
                    <div class="view-data">
                        <span class="view-data-number">AD: {{rate.revenue}}</span>
                        <i class="glyphicon glyphicon-arrow-up" ng-show="rate.revenueFlag=='+' && rate.revenueRate!=0"></i>
                        <i class="glyphicon glyphicon-arrow-down" ng-show="rate.revenueFlag=='-' && rate.revenueRate!=0"></i>
                        <span>{{rate.revenueRate}}<span ng-show="rate.revenueRate !== '--'">%</span></span>
                    </div>
                </li>
        	</ul>
        </div>
        <h5></h5>
        <div class="summary">
        	<div class="summary-filter clearfix">
                <label for="">Summary By:</label>
                <div class="dropdown">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{typeName}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="typeData('request','Requests')">Requests</li>
                        <li ng-click="typeData('imp','Impressions')">Impressions</li>
                        <li ng-click="typeData('click','Clicks')">Clicks</li>
                        <li ng-click="typeData('conversion','Conversions')">Conversions</li>
                        <li ng-click="typeData('eCPM','eCPM')">eCPM</li>
                        <li ng-click="typeData('revenue','Revenue')">Revenue</li>
                    </ul>
                </div>
        		<ul class="chart-change">
        			<li class="fa fa-bar-chart" ng-click="changeChart($event,0)"></li>
                    <li class="fa fa-line-chart active" ng-click="changeChart($event,1)"></li>
        			<li class="fa fa-pie-chart" ng-click="changeChart($event,2)"></li>
        		</ul>
        	</div>
            <div class="summary-chart" id="chart-bar" style="z-index: 0;"></div>
            <div class="summary-chart" id="chart-line" style="z-index: 1;"></div>
        	<div class="summary-chart" id="chart-pie" style="z-index: 0;"></div>
        </div>
        <div class="top-five">
            <div class="revenue">
                <h5>Top 5 Campaigns (Revenue)</h5>
                <div class="revenue-chart" id="camp-chart"></div>
            </div>
            <div class="revenue">
                <h5>Top 5 Brands & Models (Revenue)</h5>
                <div class="revenue-chart" id="brand-chart"></div>
            </div>
        </div>
        <div class="table-container">
            <div class="table-header">
                <label class="table-title">Unique Users</label>
                <i class="fa fa-external-link pull-right" ng-click="exportCsv('unique')"></i>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>App
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('appName')" ng-class="{'appName': 'active'}[uniqueField]"></i>
                        </th>
                        <th>Request
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('request')" ng-class="{'request': 'active'}[uniqueField]"></i>
                        </th>
                        <th>Unique Request
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('uniqueRequest')" ng-class="{'uniqueRequest': 'active'}[uniqueField]"></i>
                        </th>
                        <th>IMP
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('imp')" ng-class="{'imp': 'active'}[uniqueField]"></i>
                        </th>
                        <th>Unique IMP
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('uniqueImp')" ng-class="{'uniqueImp': 'active'}[uniqueField]"></i>
                        </th>
                        <th>CLK
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('click')" ng-class="{'click': 'active'}[uniqueField]"></i>
                        </th>
                        <th>Unique CLK
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('uniqueClick')" ng-class="{'uniqueClick': 'active'}[uniqueField]"></i>
                        </th>
                        <th>Revenue($)
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderUnique('revenue')" ng-class="{'revenue': 'active'}[uniqueField]"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in uniqueList">
                        <td>{{list.appName}}</td>
                        <td>{{list.request}}</td>
                        <td>{{list.uniqueRequest}}</td>
                        <td>{{list.imp}}</td>
                        <td>{{list.uniqueImp}}</td>
                        <td>{{list.click}}</td>
                        <td>{{list.uniqueClick}}</td>
                        <td>{{list.revenue}}</td>
                    </tr>
                </tbody>
            </table>  
            <div class="table-pagenation clearfix">
                <ul uib-pagination class="pull-right" total-items="uniqueCount" ng-model="uniquePage" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="10" ng-change="loadUniqueList()"></ul>
            </div> 
        </div>
        <div class="table-container">
            <div class="table-header">
                <label class="table-title">Reports By:</label>
                <i class="fa fa-external-link pull-right" ng-click="exportCsv('report')" ng-show="channelName === 'Campaign' || channelName === 'AdNetwork' ||channelName === 'Channel'"></i>
                <div class="dropdown">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{channelName}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="reportBy('Campaign')">Campaign</li>
                        <li ng-click="reportBy('App')">App</li>
                        <li ng-click="reportBy('AdNetwork')">AdNetwork</li>
                        <li ng-click="reportBy('Channel')">Channel</li>
                        <li ng-click="reportBy('Placement')">Placement</li>
                    </ul>
                </div>
                <div class="dropdown" ng-show="channelName==='Channel' || channelName==='Placement'">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{channel1Name}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu" ng-show="channelName==='Channel'">
                        <li  ng-click="channelData(1, 'All')">All</li>
                        <li ng-repeat="channel1 in channel1List" ng-click="channelData(1, channel1)">{{channel1}}</li>
                    </ul>
                    <ul class="dropdown-menu" role="menu" ng-show="channelName==='Placement'">
                        <li  ng-click="placementData(1, 'All')">All</li>
                        <li ng-repeat="app in appList" ng-click="placementData(1, app)">{{app.name}}</li>
                    </ul>
                </div>
                <div class="dropdown" ng-show="channelName==='Channel' || channelName==='Placement'">
                    <p class="dropdown-toggle" data-toggle="dropdown">
                        {{channel2Name}}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" role="menu" ng-show="channelName==='Channel'">
                        <li ng-click="channelData(0, 'All')">All</li>
                        <li ng-repeat="channel2 in channel2List" ng-click="channelData(0, channel2)">{{channel2}}</li>
                    </ul>
                    <ul class="dropdown-menu" role="menu" ng-show="channelName==='Placement'">
                        <li  ng-click="placementData(0, 'All')">All</li>
                        <li ng-repeat="placement in placementList" ng-click="placementData(0, placement)">{{placement.name}}</li>
                    </ul>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th ng-show="channelName==='Campaign'">Campaign
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('adName')" ng-class="{'adName': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='Placement'">Placement
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('placementName')" ng-class="{'placementName': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='Placement'">App
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('appName')" ng-class="{'appName': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='AdNetwork'">AdNetwork
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('advertiserName')" ng-class="{'advertiserName': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='Channel'">Channel 1
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('channelId1')" ng-class="{'channelId1': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='Channel'">Channel 2
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('channelId2')" ng-class="{'channelId2': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='Campaign' || channelName==='App'">App
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('appName')" ng-class="{'appName': 'active'}[reportField]"></i>
                        </th>
                            <th ng-show="channelName==='Campaign'">CPX
                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('cpx')" ng-class="{'cpx': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='Campaign'">Prices($)
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('price')" ng-class="{'price': 'active'}[reportField]"></i>
                        </th>
                        <th ng-show="channelName==='Channel' || channelName==='Placement' || channelName==='App'">Request
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('request')" ng-class="{'request': 'active'}[reportField]"></i>
                        </th>
                        <th>IMP
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('imp')" ng-class="{'imp': 'active'}[reportField]"></i>
                        </th>
                        <th>CLK
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('click')" ng-class="{'click': 'active'}[reportField]"></i>
                        </th>
                        <th>Conversions
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('conversion')" ng-class="{'conversion': 'active'}[reportField]"></i>
                        </th>
                        <th>eCPM
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('eCPM')" ng-class="{'eCPM': 'active'}[reportField]"></i>
                        </th>
                        <th>Revenue($)
                            <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('revenue')" ng-class="{'revenue': 'active'}[reportField]"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in dataList">
                        <td ng-show="channelName==='Campaign'">{{list.adName}}</td>
                        <td ng-show="channelName==='Placement'">{{list.placementName}}</td>
                        <td ng-show="channelName==='Placement'">{{list.appName}}</td>
                        <td ng-show="channelName==='AdNetwork'">{{list.advertiserName}}</td>
                        <td ng-show="channelName==='Channel'">{{list.channelId1}}</td>
                        <td ng-show="channelName==='Channel'">{{list.channelId2}}</td>
                        <td ng-show="channelName==='Campaign' || channelName=='App'">{{list.appName}}</td>
                        <td ng-show="channelName==='Campaign'">{{list.cpx}}</td>
                        <td ng-show="channelName==='Campaign'">{{list.price}}</td>
                        <td ng-show="channelName==='Channel' || channelName==='Placement' || channelName==='App'">{{list.request}}</td>
                        <td>{{list.impression}}</td>
                        <td>{{list.click}}</td>
                        <td>{{list.conversion}}</td>
                        <td>{{list.eCPM}}</td>
                        <td>{{list.revenue}}</td>
                    </tr>
                </tbody>
            </table>  
            <div class="table-pagenation clearfix">
                <ul uib-pagination class="pull-right" total-items="reportCount" ng-model="reportPage" max-size="5" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="10" ng-change="loadReportList()"></ul>
            </div> 
        </div>
    </div>
</div>