<div class="show-type">
    <div class="edit">
        <div class="header">
            <ol class="breadcrumb">
                <li class="cursor" ng-click="cancel()">Show Type</li>
                <li class="active" ng-show="!detailVO.status">Edit</li>
                <li class="active" ng-show="detailVO.status">View</li>
            </ol>
        </div>
        <div class="edit-container">
            <div class="form-group" verification>
                <label class="col-sm-2 control-label">Name:<em>&#42;</em></label>
                <div class="col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.name" name="name">
                </div>
                <span class="msg"></span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Background Height:</label>
                <div class="input-group col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.bgHeight">
                    <span class="input-group-addon">DP</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Background Width:</label>
                <div class="input-group col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.bgWidth">
                    <span class="input-group-addon">DP</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Background Color:</label>
                <div class="col-xs-6">
                    <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="detailVO.bgColor">
                </div>
            </div>
            <div class="form-group fields">
                <label class="col-sm-2 control-label">Choose Fields:</label>
                <div class="dropdown col-sm-6">
                    <p class="dropdown-toggle" title="{{detailVO.types}}" data-toggle="dropdown">{{detailVO.types}}</p>
                    <span class="caret"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="field in fieldList" ng-click="typeData(field)" self-stop-propagation>{{field.field}}</li>
                    </ul>
                </div>
            </div>
            <div class="lists" ng-repeat="vo in detailVO.size">
                <div class="form-group">
                    <label class="col-sm-2 control-label text-capitalize">{{vo.name}} Width:</label>
                    <div class="input-group col-xs-6">
                        <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="vo.width">
                        <span class="input-group-addon">DP</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-capitalize">{{vo.name}} Height:</label>
                    <div class="input-group col-xs-6">
                        <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="vo.height">
                        <span class="input-group-addon">DP</span>
                    </div>
                </div>
            </div>
            <div class="lists" ng-show="showothers">
                <div class="img_item" ng-repeat="vo in othersList">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Others:</label>
                        <div class="col-xs-6 two_icon">
                            <input type="text" ng-readonly="detailVO.status" class="form-control" ng-model="vo.othersName">
                        </div>
                        <span class=" btn btn-primary glyphicon glyphicon-plus" ng-hide="detailVO.status || !$last" ng-click="editOthers('plus')"></span>
                        <span class=" btn btn-primary glyphicon glyphicon-minus img-minus" ng-hide="detailVO.status" ng-click="editOthers('minus',$index)"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Type:</label>
                        <div class="col-xs-5">
                            <ul class="others-type">
                                <li ng-click="vo.othersType=0">
                                    <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[vo.othersType]"></i>
                                    Image
                                </li>
                                <li ng-click="vo.othersType=1">
                                    <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[vo.othersType]"></i>
                                    Text
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="upload_img clearfix">
                <label class="label_img col-sm-2">Thumbnail:</label>
                <button type="file" ngf-select="uploadPic(picFile)" ng-model="picFile" accept="image/png, image/jpeg" name="file" class="btn btn-primary" ng-hide="detailVO.status">Upload</button>
                <div class="div_img" ng-show="img_url || begin_upload">
                    <uib-progressbar max="100" value="dynamic" ng-show="begin_upload" class="progress-striped active"><b>{{dynamic}}%</b></uib-progressbar>
                    <div class="img-container">
                        <img ng-src="{{img_url}}" ng-show="img_url">
                        <span ng-click="delete(detailVO)" ng-show="img_url" ng-hide="detailVO.status">&times;</span>
                    </div>
                </div>
            </div>
            <div class="edit-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-default save" ng-click="saveData()" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
            </div>
        </div>
    </div>
</div>
