<div class="new-version new-hotfix">
    <div class="header">
        <ul class="nav navbar-nav navbar-left breadcrumb">
            <li><a href="javascript:history.go(-1)">{{appName}}</a></li>
            <li class="active">New Hot Fix</li>
        </ul>
    </div>
    <div class="version-con form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">App Name:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="appName" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Package Name:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="detail.app" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Target Version Code:<em>&#42;</em></label>
            <div class="col-sm-6">
                <div class="dropdown os_filter">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                        <input name="packagename" ng-model="versionDetail" class="form-control" placeholder="Please select a Version Code" readonly><span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ver in targetVersions" ng-click="changeCode(ver)">
                            version_name:{{ver.version_name}};&nbsp;version_code:{{ver.version_code}};&nbsp;id:{{ver.id}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Hot Fix Patch:<em>&#42;</em>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="detail.fullpackage" placeholder="Please upload the hot fix patch" readonly>
            </div>
            <button type="file" ngf-select="uploadPatch($file, $invalidFiles)" accept=".pac" name="file" class="btn btn-primary" ng-disabled="pacState || !detail.versionCode">
                <i class="fa fa-spinner fa-spin" ng-show="pacState"></i>&nbsp;Upload
            </button>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Hot Fix Version:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.hotfixCode" readonly placeholder="This field will automatically loaded from the upload patch">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Version Comment:<em>&#42;</em>
            </label>
            <div class="col-sm-7">
                <textarea class="form-control" ng-model="detail.updatenote" placeholder="Please enter the comment of this release(Required)"></textarea>
            </div>
            <img src="app/style/less/images/icon_i.png" popover-placement="bottom" popover-is-open="verOpen" ng-mouseenter="verOpen=true" ng-mouseleave="verOpen=false" uib-popover="Let your users know about recent updates you've made in this release of your app.">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">What's New:
            </label>
            <div class="col-sm-7">
                <textarea class="form-control" ng-model="detail.whatnew" placeholder="Please enter What's new in this release(Optional)"></textarea>
            </div>
            <img src="app/style/less/images/icon_i.png" popover-placement="bottom" popover-is-open="newOpen" ng-mouseenter="newOpen=true" ng-mouseleave="newOpen=false" uib-popover="Let your users know about recent updates you've made in this release of your app.">
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Release in Grayscale:</label>
            <div class="col-sm-7 turn-container">
                <span ng-class="{false: 'turn-on', true: 'turn-off'}[detail.target==100]" ng-click="changeTarget()"></span>
                <span class="grayscale-user" ng-hide="detail.target==100">Targeting <input type="text" ng-model="detail.target" maxlength="2" ng-class="{true: 'active'}[checkNum]" ng-focus="removeTarget()" ng-blur="checkTarget()"> % of All Users</span>
            </div>
        </div>
        <div class="form-group segment">
            <label class="col-sm-2 control-label">Segment:</label>
            <div class="col-sm-10">
                <div segments attr-segments="detail.segment"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="right-btn">
            <a href="javascript:history.go(-1)">
                <button type="button" class="btn btn-default cancle">Cancel</button>
            </a>
            <button type="button" class="btn btn-default save" ng-click="saveDetail()">Save &#38; Continue</button>
        </div>
    </div>
</div>
