
    <div class="change-password">
        <div class="edit">
            <div class="header">
                Change Password
            </div>
            <div class="content">
                <!-- <div class="form-group">
                    <label class="col-sm-2 control-label">User Name:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Full Name:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control">
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Old Password:</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control" id="oldPassWord">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">New Password:</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control" id="newPassWord" onfocus="change()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Confirm Password:</label>
                    <div class="col-xs-8">
                        <input type="password" class="form-control" id="confirmPassWord" onfocus="change()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <label class="col-xs-8 control-label" id="warn-message">The new password is not consistent with the confirm password.</label>
                </div>
            </div>
            <p>
                <a href="javascript:history.go(-1)"><button type="button" class="btn btn-default">Cancel</button></a>
                <button type="button" class="btn btn-default save" id="saveData" onclick="submit()">Save</button>
            </p>
        </div>
    </div>

    <script type="text/javascript">
        function change(){
            $("#warn-message").hide();
        };
        function submit(){
            var oldPassWord = $("#oldPassWord").val();
            var newPassWord = $("#newPassWord").val();
            var confirmPassWord = $("#confirmPassWord").val();
            if (newPassWord != confirmPassWord) {
                $("#warn-message").show();
                return false;
            };
            $.ajax({
                url : "/admin/user/changePassword",
                type : "POST",
                data : JSON.stringify({
                    'oldPassword':oldPassWord,
                    'newPassword':newPassWord
                }),
                success : function(result) {
                    if(result.status == 0 && result.code == 0){
                            $.ajax({
                                type: "post",
                                url: "/auth/main/logout"
                            }).success(function(result) {
                                location.href = "/";
                            }).error(function(result) {});
                    }else{
                        $("#warn-message").text(result.msg);
                        $("#warn-message").show();
                    }
                }

            });
        }
    </script>
