
            <div class="tab-pane">
                <div class="search-bar clearfix">
                   <div class="seach" ng-show="activeState">
                        <span>ShowType:</span>
                        <div class="dropdown">
                            <p class="dropdown-toggle type-filter" data-toggle="dropdown">
                            {{filterParam.typefilter}}
                            </p>
                            <span class="caret"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="vo in typeList" ng-click="typeFilter(vo)">{{vo.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span class="seach-input">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control" placeholder="Search" ng-model="seachParam.searchData" ng-keyup="searchBlur()">
                    </span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="changeTitle('placement')" ng-class="{true: 'active'}[activeState]">Placement</button>
                        <button type="button" class="btn btn-default" ng-click="changeTitle('device')" ng-class="{false: 'active'}[activeState]">Device</button>
                    </div>
                    <!-- <a href="#/view/update/newPlace/0/new/{{packageName}}" ng-show="activeState"><div class="add-version">+&nbsp;&nbsp;New Placement</div></a> -->
                    <a href="#/view/update/newDevice/0/{{appName}}/new/{{packageName}}" ng-hide="activeState"><div class="add-version">+&nbsp;&nbsp;New Device</div></a>
                </div>
                <div ui-view></div>
            </div>
            <div class="footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 20]" ng-click="changePageSize(20)">20</button>
                    <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 50]" ng-click="changePageSize(50)">50</button>
                    <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 100]" ng-click="changePageSize(100)">100</button>
                </div>
                <ul uib-pagination ng-if="totalItems" total-items="totalItems" ng-model="seachParam.currentPage" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="seachParam.pageSize" ng-change="loadList()"></ul>
            </div>
