<div class="list-card">
    <div class="header">
        <span class="head-name"><b>Category Settings</b></span>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <span>Channel：</span>
                <div class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                        <p>{{typeName}}<span class="caret"></span></p>
                    </div>
                    <ul class="dropdown-menu">
                        <li ng-click="selectType(0, 'All')">All</li>
                        <li ng-click="selectType(1, 'News Dog')">News Dog</li>
                        <li ng-click="selectType(2, 'Le Tang')">Le Tang</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="list-content">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Card Name</th>
                    <th>Category</th>
                    <th>Channel</th>
                    <th>Update Time</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in categoryList">
                    <td>{{list.cardname}}</td>
                    <td><input type="text" name="category" ng-model="list.truename" ng-blur="editData(list)"></td>
                    <td>{{list.channel==1?'News Dog':'Le Tang'}}</td>
                    <td>{{list.edittime}}</td>
                    <td>{{list.createUser}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
