<div class="appEdit" id="appEdit">

    <div class="header">
        <ol class="nav navbar-nav navbar-left breadcrumb">
        	<li><a href="#/view/admin/app/view">App Management</a></li>
            <li ng-show="app.action=='create'"><strong>Create</strong></li>
            <li ng-show="app.action=='update'"><strong>Update</strong></li>
        </ol>
    </div>
	
	<div class="viewer">

		<div class="edit-form detail-con form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-3">App Name:<em>&#42;</em></label>
				<div class="col-sm-5">
	                <input type="text" placeholder="Please enter the App Name" ng-model="app.appName" ng-trim="true" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
	            </div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Package Name:<em>&#42;</em></label>
				<div class="col-sm-5">
	                <input type="text" placeholder="Please enter the Package Name" ng-model="app.packageName" ng-trim="true" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
	            </div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Tabs:</label>
				<div class="col-sm-5">
					<span class="tab-operation" ng-repeat="itab in adminOperationList">
						<input type="checkbox" name="{{itab.name}}" id="{{itab.id}}" ng-model="itab.active" ng-checked="itab.active" ng-click="chooseTabApp(itab)">
						<label>{{itab.name}}</label>

						<div class="opt-extend" ng-show="itab.isExtendOpt">
							<span ng-repeat="iopt in adminOptExtendList[itab.name]">
								<input type="radio" name="{{iopt.name}}" id="{{iopt.id}}" ng-checked="iopt.checked" ng-click="chooseTabOpt(itab, iopt)"><label>{{iopt.name}}</label>
							</span>
						</div>
					</span>
					
	            </div>
			</div>
	
		</div>

	</div>

	<div class="footer">
        <div class="left-btn">
            <a href="#/view/admin/app/view"><button type="button" class="btn btn-default">Cancel</button></a>
        </div>
        <div class="right-btn">
            <button type="button" class="btn btn-default save" ng-click="appSave()" ng-disabled="resubmit">Save</button>
        </div>
    </div>

</div>