
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Show Type</th>
                            <th>Placement Type</th>
                            <th>Placement ID</th>
                            <th>Create Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vo in list">
                            <td>{{vo.name}}</td>
                            <td>{{vo.showType}}</td>
                            <td>{{vo.placementTypeName}}</td>
                            <td>{{vo.placementId}}</td>
                            <td>{{vo.createTime}}</td>
                            <td>
                                <span ng-class="{1: 'turn-on', 0: 'turn-off'}[vo.placeStatus]" ng-click="changeState(vo)"></span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <p data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</p>
                                    <div class="dropdown-menu">
                                        <div class="triangle-top">
                                            <i class="arrow"></i>
                                        </div>
                                        <ul>
                                            <a href="#/view/update/newPlace/{{vo.id}}/edit/{{packageName}}"><li><i class="glyphicon" ng-class="{1: 'glyphicon-eye-open', 0: 'glyphicon-pencil'}[vo.placeStatus]"></i>{{vo.placeStatus==1?'View':'Edit'}}</li></a>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>