
    <div class="change-password">
        <div class="edit">
            <div class="header">
                Insert App
            </div>
            <div class="content">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Client Id:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="clientId" onfocus="clientFocus()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">packageName:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="package">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <label class="col-xs-8 control-label" id="warn-message"></label>
                </div>
            </div>
            <p>
                <a href="javascript:history.go(-1)"><button type="button" class="btn btn-default">Cancel</button></a>
                <button type="button" class="btn btn-default save" id="saveData" onclick="submit()">Save</button>
            </p>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            getDetail();
        });
        function getDetail(){
            if (window.localStorage.getItem("info")) {
                var details = JSON.parse(window.localStorage.getItem("info"));
                $("#package").val(details.packageName);
            }
        };
        function clientFocus(){
            $("#warn-message").hide();
        };
        function submit(){
            var clientId = $("#clientId").val()
            if (!clientId || clientId == '') {
                $("#warn-message").text('The client Id is required');
                $("#warn-message").show();
                return false;
            }
            var details = {
                clientId: $("#clientId").val(),
                packageName: $("#package").val()
            }
            window.localStorage.setItem("info", JSON.stringify(details));
            $.ajax({
                url : "/auth/stub/insertApp",
                type : "POST",
                data : JSON.stringify(details),
                success : function(result) {
                    if(result.status == 0 && result.code == 0){
                        $("#warn-message").text('Success!');
                    }else{
                        $("#warn-message").text(result.msg);
                    }
                    $("#warn-message").show();
                }

            });
        }
    </script>
