<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-group">
            <span ng-show="checksegment.isAnd == 1">All</span>
            <span ng-show="checksegment.isAnd == 0">Any</span>
            <span>&nbsp; of the following are&nbsp;</span>
            <span ng-show="checksegment.isTrue == '1'">True</span>
            <span ng-show="checksegment.isTrue == '0'">False</span>
        </div>
    </div>
    <div class="panel-body" ng-repeat="item in checksegment.params">
        <div class="label label-default" ng-if="$index > 0">{{checksegment.isAnd?"AND":"OR"}}</div>
        <div ng-if="item.param" sql-check>
        </div>
        <div check-segment attr-segment="item" ng-if="item.params.length>0" attr-view="{{btnDisabled}}" attr-child="true"></div>
    </div>
</div>
