<div class="new-version">
    <div class="header">
        <ul class="nav navbar-nav navbar-left breadcrumb">
            <li><a href="javascript:history.go(-1)">{{detail.app}}</a></li>
            <li class="active">Check Version</li>
        </ul>
    </div>
    <div class="version-con form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Full Package:
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="detail.fullpackage" placeholder="Please select the full update package" readonly>
            </div>
            <button class="btn btn-primary" ng-hide="btnDisabled"><a href="{{detail.fullpackage}}">Download</a></button>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">App Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.app" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Package Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.packagename" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Version Code:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.version_code" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Version Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.version_name" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">App Icon:</label>
            <div class="col-sm-1 img">
                <img ng-src="{{detail.appicon}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Update Note:
            </label>
            <div class="col-sm-7">
                <textarea class="form-control" ng-model="detail.updatenote" readonly></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Incremental Package:</label>
            <div class="col-sm-8">
                <div class="col-sm-9" ng-repeat="incremental in detail.incrementalpack">
                    <input type="text" class="form-control" ng-model="incremental.incrementalpack" readonly>
                    <button class="btn btn-primary" ng-hide="btnDisabled"><a href="{{incremental.incrementalpack}}">Download</a></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Mandatory Update:
            </label>
            <div class="col-sm-7 turn-container">
                <span ng-class="{0: 'turn-on', 1: 'turn-off'}[detail.mandatory_update]"></span>
            </div>
         
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Silence Install:
            </label>
            <div class="col-sm-7 turn-container">
                <span ng-class="{0: 'turn-on', 1: 'turn-off'}[detail.silenceinstall]"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Update Priority:
            </label>
            <div class="col-sm-7">
                <span class="ridio"><i class="fa fa-dot-circle-o icon-radio" ng-class="{0: 'active'}[detail.updatepriority]"></i> Normal </span>
                <span class="ridio"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1: 'active'}[detail.updatepriority]"></i> Important </span>
            </div>
        </div>
        <div class="form-group segment">
            <label class="col-sm-2 control-label">Segment:</label>
            <div class="col-sm-10" ng-show="detail.segment">
                <div check-segment attr-segment="detail.frontsql" attr-view="{{btnDisabled}}"  attr-child="false"></div>
            </div>
        </div>
    </div>
    <div class="footer" ng-show="statu=='edit'">
        <div class="form-group left-btn">
            <span class="ridio" ng-click="action='approved'"><i class="fa fa-dot-circle-o icon-radio active" ng-class="{'approved': 'active'}[action]"></i> Approved </span>
            <span class="ridio" ng-click="action='unapproved'"><i class="fa fa-dot-circle-o icon-radio" ng-class="{'unapproved': 'active'}[action]"></i> Rejected </span>
        </div>
        <div class="text-container">
            <input type="text" ng-model="approvedtext" placeholder="Please enter rejected reason (required)" ng-show="action=='unapproved'">
        </div>
        <div class="right-btn">
            <a href="javascript:history.go(-1)">
                <button type="button" class="btn btn-default cancle">Cancel</button>
            </a>
            <button type="button" class="btn btn-default save" ng-click="submitDetail()">Submit</button>
        </div>
    </div>
    <div class="footer" ng-show="statu=='view'">
        <div class="right-btn">
            <a href="javascript:history.go(-1)">
                <button type="button" class="btn btn-default cancle">Cancel</button>
            </a>
        </div>
    </div>
</div>
