<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-group">
            <span> if</span>
            <div class="col-sm-2">
                <select class="form-control" ng-model="segment.isAnd">
                    <option value="1" ng-selected="segment.isAnd == 1">All</option>
                    <option value="0" ng-selected="segment.isAnd == 0">Any</option>
                </select>
            </div>
            <span> of the following are</span>
            <div class="col-sm-2">
                <select class="form-control" ng-model="segment.isTrue">
                    <option value="1" ng-selected="segment.isTrue == 1">True</option>
                    <option value="0" ng-selected="segment.isTrue == 0">False</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-repeat="item in segment.items">
        <div class="label label-default" ng-if="$index > 0">{{segment.isAnd == 1 ? "AND" : "OR"}}</div>
        <div ng-if="!item.items" segment-field>
        </div>
        <div segment attr-segment="item" ng-if="item.items" attr-child="true" attr-areas="areas" attr-devices="devices" attr-versions="versions"></div>
    </div>
    <div class="panel-footer">
        <span ng-click="addCondition()"> + Add a condition</span>
    </div>
</div>
