<div class="new-version">
    <div class="header">
        <ul class="nav navbar-nav navbar-left breadcrumb">
            <li><a href="javascript:history.go(-1)">{{detail.appName}}</a></li>
            <li class="active">New Version</li>
        </ul>
    </div>
    <div class="version-con form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Full Package:<em>&#42;</em>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="detail.fullpackage" placeholder="Please select the full update package" readonly>
            </div>
            <button type="file" ngf-select="uploadFull($file, $invalidFiles)" accept=".apk" name="file" class="btn btn-primary" ng-disabled="fullState">
                <i class="fa fa-spinner fa-spin" ng-show="fullState"></i>&nbsp;Upload
            </button>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">App Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.appName" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Package Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.packagename" readonly placeholder="This field will be automatically loaded from the upload package">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Version Code:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.version_code" readonly placeholder="This field will be automatically loaded from the upload package">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Version Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="detail.version_name" readonly placeholder="This field will be automatically loaded from the upload package">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">App Icon:</label>
            <div class="col-sm-1 img">
                <img ngf-thumbnail="picFile">
                <img ng-src="{{detail.appicon}}" ng-show="showPic">
                <button type="file" ngf-select="uploadImg($file, $invalidFiles)" accept="image/png, image/jpeg, image/gif" name="file" class="btn btn-primary upload-img">Upload</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Update Note:<em>&#42;</em>
            </label>
            <div class="col-sm-7">
                <textarea class="form-control" ng-model="detail.updatenote"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Incremental Package:</label>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-body" ng-repeat="incremental in detail.incrementalpack">
                        <p class="package-title">
                            <span class="title">Incremental Package</span>
                            <span class="label label-default">{{$index == 0?"A":$index == 1?"B":"C"}}</span>
                            <span class="glyphicon glyphicon-remove" ng-click="delInc($index, incremental.id)"></span>
                        </p>
                        <div class="form-group">
                            <span class="col-sm-2 control-label">Upload Package:</span>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Please select a incremental package" ng-model="incremental.pack" readonly>
                            </div>
                            <button type="file" ngf-select="uploadInc($file, $invalidFiles,incremental)" class="btn btn-primary" ng-disabled="incState">
                                <i class="fa fa-spinner fa-spin" ng-show="incState"></i>&nbsp;Upload
                            </button>
                        </div>
                        <div class="form-group">
                            <span class="col-sm-2 control-label">Version Code :</span>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="incremental.version">
                            </div>
                            <div class="col-xs-1">
                                ~
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="detail.version_code">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" ng-show="isShow">
                        <span ng-click="addInc()"> + Add a package</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Mandatory Update:</label>
            <div class="col-sm-7 turn-container">
                <span ng-class="{0: 'turn-on', 1: 'turn-off'}[detail.mandatory_update]" ng-click="changeState( 'mandatory_update' )"></span>
                <img src="app/style/less/images/icon_i.png" popover-placement="bottom" popover-is-open="mandOpen" ng-mouseenter="mandOpen=true" ng-mouseleave="mandOpen=false" uib-popover="When this option is ‘On’, user must choose to update or exit the selected app.">
            </div>
         
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Silence Install:</label>
            <div class="col-sm-7 turn-container">
                <span ng-class="{0: 'turn-on', 1: 'turn-off'}[detail.silenceinstall]" ng-click="changeState( 'silenceinstall' )"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Update Priority:</label>
            <div class="col-sm-7">
                <span class="ridio" ng-click="changePriority( 'updatepriority',0)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{0: 'active'}[detail.updatepriority]"></i> Normal </span>
                <span class="ridio" ng-click="changePriority( 'updatepriority',1)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1: 'active'}[detail.updatepriority]"></i> Important </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Release in Grayscale:</label>
            <div class="col-sm-7 turn-container">
                <span ng-class="{false: 'turn-on', true: 'turn-off'}[detail.target==100]" ng-click="changeTarget()"></span>
                <span class="grayscale-user" ng-hide="detail.target==100">Targeting <input type="text" ng-model="detail.target" maxlength="2" ng-blur="checkTarget()"> % of All Users</span>
            </div>
        </div>
        <div class="form-group segment">
            <label class="col-sm-2 control-label">Segment:</label>
            <div class="col-sm-10">
                <div segment attr-segment="detail.frontsql"  attr-child="false"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="right-btn">
            <a href="javascript:history.go(-1)">
                <button type="button" class="btn btn-default cancle">Cancel</button>
            </a>
            <button type="button" class="btn btn-default save" ng-click="saveDetail()">Save &#38; Continue</button>
        </div>
    </div>
</div>
