<div class="operation">
    <!-- netWork 编辑页面 -->
    <div class="edit">
        <div class="header">
            <ol class="breadcrumb">
                <li class="cursor" ng-click="cancel()">AdNetwork</li>
                <li class="active" ng-show="!detailNET.status">Edit</li>
                <li class="active" ng-show="detailNET.status">View</li>
            </ol>
        </div>
        <div class="edit-container">
            <ul>
                <li verification><span class="edit-key">Name:<em>&#42;</em></span>
                    <input type="text" ng-model="detailNET.name" ng-readonly="{1: 'true'}[detailNET.status]">
                    <span class="msg"></span>
                </li>
                <li>
                    <span class="edit-key">CPX:</span>
                    <div class="dropdown cpx">
                        <p class="dropdown-toggle app-filter" data-toggle="dropdown" ng-init="appfilter = 'Please select'">
                        {{detailNET.cpx}}
                        </p>
                        <span class="caret"></span>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="cpx in CPX" ng-click="cpxData(cpx)">{{cpx}}</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span class="edit-key">Payout:</span>
                    <input type="text" ng-model="detailNET.payout" ng-readonly="{1: 'true'}[detailNET.status]">
                </li>
                <li>
                    <span class="edit-key">Budget:</span>
                    <input type="text" ng-model="detailNET.budget" ng-readonly="{1: 'true'}[detailNET.status]">
                </li>
                <li>
                    <span class="edit-key">Date:<em>&#42;</em></span>
                    <input id="datarangeNet" type="text" datenet-unlimited data-start="startDate" data-end="endDate" readonly>
                    <i class="glyphicon glyphicon-remove clear-data" ng-click="clearNetDate($event)"></i>
                </li>
                <li>
                    <div class="tab-list">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a data-target="#place" aria-controls="home" role="tab" data-toggle="tab">Placement</a></li>
                            <li role="presentation"><a data-target="#target" aria-controls="profile" role="tab" data-toggle="tab">Targeting</a></li>
                            <li role="presentation" ng-hide="detailNET.placeId==''"><a data-target="#adver" aria-controls="messages" role="tab" data-toggle="tab">Advertiser</a>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <ul role="tabpanel" class="tab-pane active" id="place">
                                <li>
                                    <span class="title">App &amp; Version:<em>&#42;</em></span>
                                    <div class="app">
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="applist" data-toggle="dropdown">
                                                {{detailNET.appName}}
                                                <span class="caret"></span>
                                            </p>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="applist">
                                                <li ng-repeat="net in app" ng-click="appNetData(net)">{{net.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="app">
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="versionlist" data-toggle="dropdown">
                                                {{detailNET.version}}
                                                <span class="caret"></span>
                                            </p>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="versionlist">
                                                <li ng-repeat="net in version" ng-click="versionNetData(net)">{{net.version}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Group:<em>&#42;</em></span>
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="grouplist" data-toggle="dropdown">
                                            {{detailNET.groupName}}
                                            <span class="caret"></span>
                                        </p>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="grouplist">
                                            <li ng-repeat="net in group" ng-click="groupNetData(net)">{{net.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Placement:<em>&#42;</em></span>
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="placelist" data-toggle="dropdown">
                                            {{detailNET.placeName}}
                                            <span class="caret"></span>
                                        </p>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="placelist">
                                            <li ng-repeat="net in place" ng-click="placeNetData(net)">{{net.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div role="tabpanel" class="tab-pane" id="target">
                                <ul>
                                    <li verification>
                                        <span class="title">IMP Frequency:<em>&#42;</em></span>
                                        <input type="text" ng-model="detailNET.imp" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="msg"></span>
                                    </li>
                                    <li verification>
                                        <span class="title">Click Frequency:<em>&#42;</em></span>
                                        <input type="text" ng-model="detailNET.click" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="msg"></span>
                                    </li>
                                    <li class="except">
                                        <span class="title">Area:</span>
                                        <div class="dropdown area-dropdown">
                                            <input ng-focus="areaStatus()" class="dropdown-toggle" data-toggle="dropdown" ng-model="detailNET.area">
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu area-date" role="menu">
                                                <li ng-click="allArea()" class="advercheck" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-allArea icon-area"></i>ALL
                                                </li>
                                                <li ng-repeat="area in areaList" ng-click="areaData(area)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-area" ng-class="{true: 'active'}[area.isSelect]"></i>{{area.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="except">
                                        <span class="title">Area Except:</span>
                                        <input type="text" ng-model="detailNET.areaExcept" ng-readonly="{1: 'true'}[detailNET.status]" class="areaexcept">
                                    </li>
                                    <li class="except">
                                        <span class="title">Device:</span>
                                        <input type="text" ng-model="detailNET.device" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.deviceExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">IMEI:</span>
                                        <input type="text" ng-model="detailNET.imei" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.imeiExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Model:</span>
                                        <input type="text" ng-model="detailNET.model" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.modelExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">OS Version:</span>
                                        <input type="text" ng-model="detailNET.osVersion" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.osVersionExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Language:</span>
                                        <input type="text" ng-model="detailNET.language" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.languageExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>


                                    <!-- <li class="except">
                                        <span class="title">Device:</span>
                                        <div class="dropdown area-dropdown">
                                            <input ng-focus="deviceStatus()" class="dropdown-toggle" data-toggle="dropdown" ng-model="detailNET.device">
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu device-date" role="menu">
                                                <li ng-click="allDevice()" class="advercheck" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-alldevice icon-device"></i>ALL
                                                </li>
                                                <li ng-repeat="dev in deviceList" ng-click="devData(dev)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-device" ng-class="{true: 'active'}[dev.isSelect]"></i>{{dev.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="except">
                                        <span class="title">Device Except:</span>
                                        <input type="text" ng-model="detailNET.deviceExcept" ng-readonly="{1: 'true'}[detailNET.status]" class="areaexcept">
                                    </li>
                                    <li class="except">
                                        <span class="title">Model:</span>
                                        <div class="dropdown area-dropdown">
                                            <input ng-focus="modelStatus()" class="dropdown-toggle" data-toggle="dropdown" ng-model="detailNET.model">
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu model-date" role="menu">
                                                <li ng-click="allModel()" class="advercheck" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-allmodel icon-model"></i>ALL
                                                </li>
                                                <li ng-repeat="model in modelList" ng-click="modelData(model)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-model" ng-class="{true: 'active'}[model.isSelect]"></i>{{model.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="except">
                                        <span class="title">Model Except:</span>
                                        <input type="text" ng-model="detailNET.modelExcept" ng-readonly="{1: 'true'}[detailNET.status]" class="areaexcept">
                                    </li>
                                    <li class="except">
                                        <span class="title">OS Version:</span>
                                        <div class="dropdown area-dropdown">
                                            <input ng-focus="osStatus()" class="dropdown-toggle" data-toggle="dropdown" ng-model="detailNET.osVersion">
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu osVersion-date" role="menu">
                                                <li ng-click="allOS()" class="advercheck" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-allosVersion icon-osVersion"></i>ALL
                                                </li>
                                                <li ng-repeat="osVersion in osVersionList" ng-click="osVersionData(osVersion)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-osVersion" ng-class="{true: 'active'}[osVersion.isSelect]"></i>{{osVersion.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="except">
                                        <span class="title">OS Version Except:</span>
                                        <input type="text" ng-model="detailNET.osVersionExcept" ng-readonly="{1: 'true'}[detailNET.status]" class="areaexcept">
                                    </li>
                                    <li class="except">
                                        <span class="title">Language:</span>
                                        <div class="dropdown area-dropdown">
                                            <input ng-focus="languageStatus()" class="dropdown-toggle" data-toggle="dropdown" ng-model="detailNET.language">
                                            <span class="caret"></span>
                                            <ul class="dropdown-menu language-date" role="menu">
                                                <li ng-click="allLanguage()" class="advercheck" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-alllanguage icon-language"></i>ALL
                                                </li>
                                                <li ng-repeat="lgu in languageList" ng-click="languageData(lgu)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-language" ng-class="{true: 'active'}[lgu.isSelect]"></i>{{lgu.name}}
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="except">
                                        <span class="title">Language Except:</span>
                                        <input type="text" ng-model="detailNET.languageExcept" ng-readonly="{1: 'true'}[detailNET.status]" class="areaexcept">
                                    </li> -->




                                    <li class="except">
                                        <span class="title">Network:</span>
                                        <input type="text" ng-model="detailNET.network" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.networkExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Channel1:</span>
                                        <input type="text" ng-model="detailNET.channel1" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.channel1Except" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Channel2:</span>
                                        <input type="text" ng-model="detailNET.channel2" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.channel2Except" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Channel3:</span>
                                        <input type="text" ng-model="detailNET.channel3" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.channel3Except" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Api Version:</span>
                                        <input type="text" ng-model="detailNET.appVer" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailNET.appVerExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">IMEI:</span>
                                        <input type="text" ng-model="detailNET.imei" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">IMEI Except:</span>
                                        <input type="text" ng-model="detailNET.imeiExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Network:</span>
                                        <input type="text" ng-model="detailNET.network" ng-readonly="{1: 'true'}[detailNET.status]">
                                        <span class="title">Network Except:</span>
                                        <input type="text" ng-model="detailNET.networkExcept" ng-readonly="{1: 'true'}[detailNET.status]">
                                    </li>


                                    
                                    <li>
                                        <span class="title">Time Setting:</span>
                                        <ul class="native-cont timeset" ng-init="nums=['All','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']">
                                            <li ng-click="checkNetData(i,$event)" ng-repeat="i in nums" class="timecheck"><i class="fa fa-check-square icon-check active"></i>{{i}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="adver">
                                <ul>
                                    <li>
                                        <span class="title">RTB:</span>
                                        <ul class="native-cont">
                                            <li ng-click="rtbData(0)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailNET.rtb]"></i>Yes</li>
                                            <li ng-click="rtbData(1)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailNET.rtb]"></i>No</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="title">Advertiser:</span>
                                        <div class="dropdown multi-sel" ng-show="{0: 'true'}[detailNET.status]" >
                                            <textarea readonly ng-click="adverClick($event)" ng-model="detailNET.advertiserName"  class="dropdown-toggle" data-toggle="dropdown"></textarea>
                                            <ul class="dropdown-menu adver" role="menu">
                                                <li ng-repeat="ad in adverList" ng-click="adverData(ad)" class="advercheck" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-offer" ng-class="{true: 'active'}[ad.isSelect]"></i>
                                                    {{ad.name}}
                                                </li>
                                            </ul>
                                            <span class="caret"></span>
                                        </div>
                                        <input type="text" ng-model="detailNET.advertiserName" ng-show="{1: 'true'}[detailNET.status]" readonly>
                                    </li>
                                    <li ng-show="detailNET.rtb">
                                        <span class="title">All List:<em>&#42;</em></span>
                                        <div class="dropdown multi-sel" ng-show="{0: 'true'}[detailNET.status]">
                                            <textarea readonly ng-click="offerClick()" ng-model="allNames" class="dropdown-toggle" data-toggle="dropdown"></textarea>
                                            <ul class="dropdown-menu offer-name" role="menu" pull-refresh="loadMore()">
                                                <li ng-repeat="all in allName" ng-click="offerData(all)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-offer" ng-class="{true:'active'}[all.isSelect]"></i>{{all.offerName}}
                                                </li>
                                            </ul>
                                            <span class="caret"></span>
                                        </div>
                                        <input type="text" ng-model="detailNET.offerName" ng-show="{1: 'true'}[detailNET.status]" readonly>
                                    </li>
                                    <li ng-show="!detailNET.rtb && showChannel">
                                        <span class="title">Channel:<em>&#42;</em></span>
                                        <div class="dropdown multi-sel" ng-show="{0: 'true'}[detailNET.status]">
                                            <textarea readonly ng-model="channelNames" class="dropdown-toggle" data-toggle="dropdown"></textarea>
                                            <ul class="dropdown-menu" role="menu">
                                                <li ng-repeat="channel in channelList" ng-click="channelData(channel)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-offer" ng-class="{true:'active'}[channel.isSelect]"></i>{{channel.name}}
                                                </li>
                                            </ul>
                                            <span class="caret"></span>
                                        </div>
                                        <input type="text" ng-model="channelNames" ng-show="{1: 'true'}[detailNET.status]" readonly>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="edit-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-default save" ng-click="saveNetData(detailNET)" ng-if="!detailNET.status" ng-disabled="resubmit">Save</button>
                </li>
            </ul>
        </div>
    </div>
</div>
