<div class="operation">
    <!-- operation 编辑页面 -->
    <div class="edit">
        <div class="header">
            <ol class="breadcrumb">
                <li class="cursor" ng-click="cancel()">Operation</li>
                <li class="active" ng-show="!detailVO.status">Edit</li>
                <li class="active" ng-show="detailVO.status">View</li>
            </ol>
        </div>
        <div class="edit-container">
            <ul>
                <li verification><span class="edit-key">Name:<em>&#42;</em></span>
                    <input type="text" ng-model="detailVO.name" ng-readonly="{1: 'true'}[detailVO.status]">
                    <span class="msg"></span>
                </li>
                <li verification>
                    <span class="edit-key">Priority:<em>&#42;</em></span>
                    <input type="text" ng-model="detailVO.priority" ng-readonly="{1: 'true'}[detailVO.status]">
                    <span class="msg"></span>
                </li>
                <li>
                    <span class="edit-key">App in our server:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="changeServer(1)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.inServer]"></i> Yes
                        </li>
                        <li ng-click="changeServer(0)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.inServer]"></i> No
                        </li>
                    </ul>
                </li>
                <li ng-hide="detailVO.inServer">
                    <span class="edit-key">ad to reva offer:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="changeInput(1)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.input]"></i> Yes
                        </li>
                        <li ng-click="changeInput(0)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.input]"></i> No
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="edit-key">Payout:</span>
                    <input type="text" ng-model="detailVO.payout" ng-readonly="{1: 'true'}[detailVO.status]">
                </li>
                <li>
                    <span class="edit-key">Date:<em>&#42;</em></span>
                    <input id="datarange" name="datarange" type="text" date-unlimited data-start="startDate" data-end="endDate" readonly>
                    <i class="glyphicon glyphicon-remove clear-data" ng-click="clearDate($event)"></i>
                </li>
                <li>
                    <div class="tab-list">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Placement</a></li>
                            <li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Targeting</a></li>
                            <li role="presentation"><a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab"  ng-show="{1:'showApp'}[detailVO.inServer]">Apps</a>
                            <a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab"  ng-show="{0:'showApp'}[detailVO.inServer]">URL</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <ul role="tabpanel" class="tab-pane active" id="home">
                                <li>
                                    <span class="title">App &amp; Version:<em>&#42;</em></span>
                                    <div class="app">
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="applist" data-toggle="dropdown">
                                                {{detailVO.appName}}
                                                <span class="caret"></span>
                                            </p>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="applist">
                                                <li ng-repeat="vo in app" ng-click="appData(vo)">{{vo.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="app">
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="versionlist" data-toggle="dropdown">
                                                {{detailVO.version}}
                                                <span class="caret"></span>
                                            </p>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="versionlist">
                                                <li ng-repeat="vo in version" ng-click="versionData(vo)">{{vo.version}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Group:<em>&#42;</em></span>
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="grouplist" data-toggle="dropdown">
                                            {{detailVO.groupName}}
                                            <span class="caret"></span>
                                        </p>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="grouplist">
                                            <li ng-repeat="vo in group" ng-click="groupData(vo)">{{vo.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Placement:<em>&#42;</em></span>
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="placelist" data-toggle="dropdown">
                                            {{detailVO.placeName}}
                                            <span class="caret"></span>
                                        </p>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="placelist">
                                            <li ng-repeat="vo in place" ng-click="placeData(vo)">{{vo.name}}
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="upload_img clearfix" ng-repeat="vo in detailVO.imageList">
                                    <span class="title text-capitalize">{{vo.imageName}}</span>
                                    <!-- <span class="a-upload" ng-hide="detailVO.status">
                                         <input type="file" ngf-select="uploadPic(vo,$file, $invalidFiles)" accept="image/png, image/jpeg" ngf-max-size="1MB">
                                         Select Files -->
                                        <button type="file" ngf-select="uploadPic(vo,$file, $invalidFiles)" accept="image/png, image/jpeg, image/gif" class="btn btn-primary" ng-hide="detailVO.status">Upload</button>
                                    <!-- </span> -->
                                    <div class="div_img" ng-show="vo.imageUrlForShow || vo.begin_upload">
                                        <uib-progressbar max="100" value="dynamic" ng-show="vo.begin_upload" class="progress-striped active"><b>{{dynamic}}%</b></uib-progressbar>
                                        <div class="img-container">
                                            <img ng-src="{{vo.imageUrlForShow}}" ng-show="vo.imageUrlForShow">
                                            <span ng-click="delete(vo)" ng-show="vo.imageUrlForShow" ng-hide="detailVO.status">&times;</span>
                                        </div>
                                    </div>
                                </li>
                                <li ng-repeat="vo in detailVO.titleList" verification>
                                    <span class="title text-capitalize">{{vo.titleName}}</span>
                                    <input type="text" ng-model="vo.value" ng-readonly="{1: 'true'}[detailVO.status]">
                                    <span class="msg"></span>
                                </li>
                            </ul>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <ul>
                                    <li verification>
                                        <span class="title">IMP Frequency:<em>&#42;</em></span>
                                        <input type="text" ng-model="detailVO.imp" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="msg"></span>
                                    </li>
                                    <li verification>
                                        <span class="title">Click Frequency:<em>&#42;</em></span>
                                        <input type="text" ng-model="detailVO.click" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="msg"></span>
                                    </li>
                                    <li class="except">
                                        <span class="title">Area:</span>
                                        <div class="dropdown area-dropdown">
                                            <p ng-click="areaClick($event)" class="dropdown-toggle" data-toggle="dropdown">
                                                {{detailVO.area}}
                                                <span class="caret"></span>
                                            </p>
                                            <ul class="dropdown-menu area-date" role="menu">
                                                <li ng-click="allArea(detailVO,$event)" class="advercheck" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-all icon-area"></i>All
                                                    <span style="display: none;">ALL</span>
                                                </li>
                                                <li ng-repeat="area in areaList" ng-click="areaData(area,$event)" self-stop-propagation>
                                                    <i class="fa fa-check-square icon-area"></i>{{area.name}}
                                                    <span style="display: none;">{{area.code}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="except">
                                        <span class="title">Area Except:</span>
                                        <input type="text" ng-model="detailVO.areaExcept" ng-readonly="{1: 'true'}[detailVO.status]" class="areaexcept">
                                    </li>
                                    <!-- <li class="except">
                                        <span class="title">Area:</span>
                                        <input type="text" ng-model="detailVO.area" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.areaExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li> -->
                                    <li class="except">
                                        <span class="title">Device:</span>
                                        <input type="text" ng-model="detailVO.device" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.deviceExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">IMEI:</span>
                                        <input type="text" ng-model="detailVO.imei" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.imeiExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Model:</span>
                                        <input type="text" ng-model="detailVO.model" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.modelExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">OS Version:</span>
                                        <input type="text" ng-model="detailVO.osVersion" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.osVersionExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Language:</span>
                                        <input type="text" ng-model="detailVO.language" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.languageExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Network:</span>
                                        <input type="text" ng-model="detailVO.network" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.networkExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Channel1:</span>
                                        <input type="text" ng-model="detailVO.channel1" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.channel1Except" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Channel2:</span>
                                        <input type="text" ng-model="detailVO.channel2" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.channel2Except" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Channel3:</span>
                                        <input type="text" ng-model="detailVO.channel3" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.channel3Except" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li class="except">
                                        <span class="title">Api Version:</span>
                                        <input type="text" ng-model="detailVO.appVer" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.appVerExcept" ng-readonly="{1: 'true'}[detailVO.status]">
                                    </li>
                                    <li>
                                        <span class="title">Time Setting:</span>
                                        <ul class="native-cont timeset" ng-init="nums=['All','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']">
                                            <li ng-click="checkData(i,$event)" ng-repeat="i in nums" class="timecheck"><i class="fa fa-check-square icon-check active"></i>{{i}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <ul ng-show="{0:'showApp'}[detailVO.inServer]">
                                    <li>
                                        <span class="title">Target URL:</span>
                                        <input type="text" ng-model="detailVO.targetUrl" ng-readonly="{1: 'true'}[detailVO.status]">
                                        <span class="url">Wrong URL Format</span>
                                    </li>
                                    <li>
                                        <span class="title">Deep Linking:</span>
                                        <select></select>
                                        <select></select>
                                    </li>
                                </ul>
                                <ul ng-show="{1:'showApp'}[detailVO.inServer]">
                                    <li>
                                        <span class="title">Category:</span>
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="categroylist" data-toggle="dropdown">
                                                {{detailVO.category}}
                                                <span class="caret"></span>
                                            </p>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="categroylist">
                                                <li ng-repeat="vo in category" ng-click="detailVO.category=vo">{{vo}}</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="title">Publish Time:</span>
                                        <input type="text" id="publishtime" name="publish" date-publish publish-start="publishTimeStartForShow" publish-end="publishTimeEndForShow" readonly>
                                        <i class="glyphicon glyphicon-remove clear-data clear-pubdata" ng-click="clearPubDate($event)"></i>
                                    </li>
                                    <li>
                                        <span class="title">Rank:</span>
                                        <ul class="native-cont">
                                            <li ng-click="detailVO.rank=0"><i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.rank]"></i>Up to Down</li>
                                            <li ng-click="detailVO.rank=1"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.rank]"></i>Down to Up</li>
                                            <li ng-click="detailVO.rank=2"><i class="fa fa-dot-circle-o icon-radio" ng-class="{2:'active'}[detailVO.rank]"></i>Random</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="title">App Name:</span>
                                        <input type="text" ng-model="detailVO.targetAppName">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="edit-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-default save" ng-click="saveData(detailVO)" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
                </li>
            </ul>
        </div>
    </div>
</div>
