<div class="operation">
    <div class="showList">
        <div class="header">
            <ol class="breadcrumb">
                <li>Campaign</li>
                <li class="active">{{seachParam.adNetWork==0?'Operation':'AdNetwork'}}</li>
            </ol>
            <div class="add-box">
                <button class="add-btn" ng-click="addData()">Add Operation</button>
            </div>
            <div class="add-box add-net">
                <button class="add-btn" ng-click="addNet()">Add Adnetwork</button>
            </div>
            <div class="search-box">
                <i class="glyphicon glyphicon-search icon-search"></i>
                <input class="search-in" type="text" placeholder="Search" ng-keyup="searchBlur()" ng-model="seachParam.searchData">
            </div>
            <div class="seach">
                <span>App:&nbsp;</span>
                <div class="dropdown">
                    <p class="dropdown-toggle app-filter" data-toggle="dropdown">
                    {{filterParam.appfilter}}
                    </p>
                    <span class="caret"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="vo in appList" ng-click="appFilter(vo)">{{vo.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-list">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-btn" role="tablist">
                <li role="presentation" ng-class="{0:'active'}[seachParam.adNetWork]" ng-click="detailList(0)"><a data-target="#opti" aria-controls="opti" role="tab" data-toggle="tab">Operation</a></li>
                <li role="presentation" ng-class="{1:'active'}[seachParam.adNetWork]" ng-click="detailList(1)"><a data-target="#opnet" aria-controls="adnet" role="tab" data-toggle="tab" class="net-tab">AdNetwork</a></li>
                <li role="presentation" ng-class="{2:'active'}[seachParam.adNetWork]" ng-click="detailList(2)"><a data-target="#as" aria-controls="as" role="tab" data-toggle="tab" class="as-tab">Ads</a></li>
            </ul>
            <div class="tab-content">
                <!-- operation 列表页面 -->
                <div role="tabpanel" class="table-responsive tab-pane" ng-class="{0:'active'}[seachParam.adNetWork]" id="opti">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('id', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='id' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('id', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='id' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Name
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('name', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='name' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('name', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='name' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>App
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('app', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='app' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('app', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='app' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Priority
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('priority', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='priority' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('priority', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='priority' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Start Time
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('startDate', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='startDate' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('startDate', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='startDate' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>End Time
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('endDate', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='endDate' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('endDate', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='endDate' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Create Time
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('createDate', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='createDate' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('createDate', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='createDate' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vo in list">
                                <td>{{vo.id}}</td>
                                <td>{{vo.name}}</td>
                                <td>{{vo.appName}}</td>
                                <td>{{vo.priority}}</td>
                                <td>{{vo.startDate}}</td>
                                <td>{{vo.endDate}}</td>
                                <td>{{vo.createTime}}</td>
                                <td>
                                    <span ng-class="{1: 'turn-on', 0: 'turn-off'}[vo.status]" ng-click="changeState(vo)"></span>
                                    <span class="glyphicon" ng-class="{1: 'glyphicon-eye-open', 0: 'glyphicon-pencil'}[vo.status]" ng-click="editList(vo)"></span>
                                    <!-- <span class="glyphicon glyphicon-trash" ng-click="deleteItem(vo)"></span> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- netWork 列表页面 -->
                <div role="tabpanel" class="table-responsive tab-pane" ng-class="{1:'active'}[seachParam.adNetWork]"  id="opnet">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('id', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='id' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('id', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='id' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Campaign
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('name', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='name' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('name', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='name' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>CPX
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('CPX', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='CPX' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('CPX', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='CPX' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>AdNetwork
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('advertiser', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='advertiser' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('advertiser', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='advertiser' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>APP
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('app', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='app' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('app', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='app' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Impression
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('imp', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='imp' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('imp', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='imp' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Click
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('click', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='click' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('click', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='click' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>CTR
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('ctr', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='ctr' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('ctr', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='ctr' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Conversion
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('conversion', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='conversion' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('conversion', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='conversion' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>CVR
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('cvr', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='cvr' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('cvr', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='cvr' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Revenue
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('revenue', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='revenue' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('revenue', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='revenue' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>eCPM
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('eCPM', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='eCPM' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('eCPM', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='eCPM' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Operate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="net in list">
                                <td>{{net.id}}</td>
                                <td ng-click="detailList(2, net.id)"><a href="javascript:void(0)">{{net.name}}</a></td>
                                <td>{{net.CPX==''?'--':net.CPX}}</td>
                                <td>{{net.advertiserName==''?'--':net.advertiserName}}</td>
                                <td>{{net.appName==''?'--':net.appName}}</td>
                                <td>{{net.imp==''?'--':net.imp}}</td>
                                <td>{{net.click==''?'--':net.click}}</td>
                                <td>{{net.ctr==''?'--':net.ctr}}</td>
                                <td>{{net.conversion==''?'--':net.conversion}}</td>
                                <td>{{net.cvr==''?'--':net.cvr}}</td>
                                <td>{{net.revenue==''?'--':net.revenue}}</td>
                                <td>{{net.eCPM==''?'--':net.eCPM}}</td>
                                <td>
                                    <span ng-class="{1: 'turn-on', 0: 'turn-off'}[net.status]" ng-click="changeState(net)"></span>
                                    <span class="glyphicon" ng-class="{1: 'glyphicon-eye-open', 0: ' glyphicon-pencil'}[net.status]" ng-click="editNetList(net)"></span>
                                    <!-- <span class="glyphicon glyphicon-trash" ng-click="deleteItem(net)"></span> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- ads 列表页面 -->
                <div role="tabpanel" class="table-responsive tab-pane" ng-class="{2:'active'}[seachParam.adNetWork]"  id="as">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('id', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='id' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('id', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='id' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Ads
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('name', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='name' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('name', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='name' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>CPX
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('CPX', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='CPX' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('CPX', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='CPX' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>AdNetwork
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('advertiser', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='advertiser' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('advertiser', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='advertiser' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Payout
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('payout', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='payout' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('payout', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='payout' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Impression
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('imp', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='imp' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('imp', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='imp' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Click
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('click', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='click' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('click', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='click' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>CTR
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('ctr', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='ctr' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('ctr', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='ctr' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>CVR
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('cvr', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='cvr' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('cvr', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='cvr' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Conversion
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('conversion', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='conversion' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('conversion', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='conversion' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>Revenue
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('revenue', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='revenue' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('revenue', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='revenue' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                                <th>eCPM
                                    <div class="icon-order">
                                        <i class="glyphicon glyphicon-triangle-top" ng-click="orderBy('eCPM', 1)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='eCPM' &amp;&amp; !!seachParam.order]"></i>
                                        <i class="glyphicon glyphicon-triangle-bottom" ng-click="orderBy('eCPM', 0)" ng-class="{true: 'icon-color'}[seachParam.orderBy=='eCPM' &amp;&amp; !seachParam.order]"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="as in aslist">
                                <td style="min-width: 100px;">{{as.offerId}}</td>
                                <td><a href="#/view/campaign/offer/view/{{as.advertiserId}}/{{as.offerId}}/{{as.rtb}}">{{as.offerName==''?'--':as.offerName}}</a></td>
                                <td>{{as.CPX==''?'--':as.CPX}}</td>
                                <td>{{as.advertiserName==''?'--':as.advertiserName}}</td>
                                <td>{{as.payout==''?'--':as.payout}}</td>
                                <td>{{as.imp==''?'--':as.imp}}</td>
                                <td>{{as.click==''?'--':as.click}}</td>
                                <td>{{as.ctr==''?'--':as.ctr}}</td>
                                <td>{{as.cvr==''?'--':as.cvr}}</td>
                                <td>{{as.conversion==''?'--':as.conversion}}</td>
                                <td>{{as.revenue==''?'--':as.revenue}}</td>
                                <td>{{as.eCPM==''?'--':as.eCPM}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="btn-group">
                <button class="btn btn-default" ng-class="{20:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=20;loadData()">20</button>
                <button class="btn btn-default" ng-class="{50:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=50;loadData()">50</button>
                <button class="btn btn-default" ng-class="{100:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=100;loadData()">100</button>
            </div>
            <ul uib-pagination ng-if="totalItems" total-items="totalItems" ng-model="seachParam.currentPage" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="seachParam.pageSize" ng-change="loadData()"></ul>
        </div>
    </div>
</div>
