<div class="service-config">
    <div class="header">
        <ul class="nav breadcrumb">
            <li><a href="javascript:history.go(-1)">Card Settings</a></li>
            <li><b>Edit</b></li>
        </ul>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Should be note that only VERSION 2.0 and ABOVE need to SET ALL THE 8 ITEMS , other previous versions only need to set 5 items.<br>
        Please set the right number of items for the corresponding version. 
    </div>
    <div class="config-content">
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label">Device Model:<em>&#42;</em></label>
            <div class="col-sm-6">{{channelName}}</div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label">Service:<em>&#42;</em></label>
            <table class="col-sm-6 table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Service Name</th>
                        <th>URL</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nav in navList">
                        <td>
                            <img ngf-thumbnail="nav.picFile">
                            <img ng-src="{{nav.nav_icon}}" ng-show="nav.showPic">
                            <button type="file" ngf-select="uploadImg($file,nav)" accept="image/png, image/jpeg" name="file" class="btn btn-primary upload-img"></button>
                        </td>
                        <td><input type="text" ng-model="nav.navigation"></td>
                        <td><input type="text" ng-model="nav.nav_url"></td>
                        <td>
                            <i class="fa fa-minus-square" ng-click="deleteData(nav,$index)"></i>
                            <i class="fa fa-plus-square plus" ng-click="addData()" ng-hide="!$last || navLength == 8"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer">
        <div class="right-btn">
            <a href="javascript:history.go(-1)">
                <button type="button" class="btn btn-default cancle">Cancel</button>
            </a>
            <button type="button" class="btn btn-default save" ng-click="saveData()">Save</button> 
        </div>
    </div>
</div>
