<div class="groupEdit" id="groupEdit">
	<div class="header">
		<ol class="breadcrumb">
			<li><a href="#/view/admin/group/view"><strong>Group</strong></a></li>
			<li>Edit</li>
		</ol>
	</div>
	
	<div class="viewer">
		<div class="title">
			<sapn>{{group.name}}</sapn>
		</div>

		<div class="edit-form detail-con form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-3">Group Name:<em>&#42;</em></label>
				<div class="col-sm-5">
	                <input type="text" placeholder="Group Name" ng-model="group.name" ng-trim="true" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
	            </div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Tableau User:<em>&#42;</em></label>
				<div class="col-sm-5">
	                <input type="text" placeholder="Tableau User" ng-model="group.tableauUser" ng-trim="true" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
	            </div>
			</div>

			<div class="form-group" ng-show="group.action=='create'">
				<label class="control-label col-sm-3">Admin User Name:<em>&#42;</em></label>
				<div class="col-sm-5">
	                <input type="text" placeholder="Admin User Name" ng-model="group.userName" ng-trim="true" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
	            </div>
			</div>

			<div class="form-group" ng-show="group.action=='create'">
				<label class="control-label col-sm-3">Admin User Email:<em>&#42;</em></label>
				<div class="col-sm-5">
	                <input type="text" placeholder="Admin User Email" ng-model="group.userEmail" ng-trim="true" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
	            </div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Icon URL:</label>
				<div class="col-sm-4" ng-show="!uploadStart">
	                <input type="text" placeholder="Icon URL" ng-model="group.iconUrl" class="form-control" readonly/>
	            </div>
				<div class="col-sm-4" ng-show="uploadStart" class="form-control progress progress-striped active" max="100" value="dynamic">
					<b>{{dynamic}}%</b>
				</div>

	            <button type="file" ngf-select="uploadStart=true;uploadIcon($file)" accept="image/png, image/jpeg" class="btn btn-primary upload">Upload</button>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3">Channel:</label>
				<div class="col-sm-5">
	                <div class="dropdown">
	                    <input name="channelName" class="dropdown-toggle" data-toggle="dropdown" ng-model="group.channel" ng-focus="selectOnChannel('appWarn')" readonly placeholder="Please select a channel">
	                    <span class="caret"></span>
	                    <ul class="dropdown-menu" role="menu">
	                        <li ng-repeat="ichannel in group.channelList" ng-click="selectChannel(ichannel)">{{ichannel.channel}}</li>
	                    </ul>
	                </div>

	                

	                <!-- <ins class="warn" ng-show="validateParam.appWarn"><i class="fa fa-close"></i>This field is required.</ins> -->
					<!-- <input type="" name="channelName" class="dropdown-toggle ng-pristine ng-valid ng-empty ng-touched" > -->
	                <!-- <input type="text" placeholder="Channel" ng-model="group.channel" class="form-control ng-pristine ng-valid ng-not-empty ng-touched"> -->
	            </div>


			</div>
	
		</div>

	 	<div class="toolbar">
	 		<button id="expandAll" ng-click="expandAllNode()" class="btn btn-default">Expand All</button>
	 		<button id="collapseAll" ng-click="collapseAllNode()" class="btn btn-default">Collapse All</button>
	 	</div>

		<table id="tb-permission" data-toolbar=".toolbar" class="table table-bordered"></table>

	</div>

	<div class="footer">
        <div class="left-btn">
            <a href="#/view/admin/group/view"><button type="button" class="btn btn-default">Cancel</button></a>
        </div>
        <div class="right-btn">
            <button type="button" class="btn btn-default save" ng-click="groupSave()" ng-disabled="resubmit">Save</button>
        </div>
    </div>

</div>