<div class="chosen-container chosen-container-multi" style="width: 100%;">
    <div class="chosen-choices no-radius">
        <input type="text" class="form-control no-borders" ng-model="placehoderText" ng-readonly="readStatus">
    </div>
    <div class="chosen-drop">
        <div class="chosen-search">
            <input type="text" autocomplete="off" tabindex="4" ng-model="filter_value">
        </div>
        <ul class="chosen-results">
            <li class="active-result" ng-repeat="item in menuItems | filter:filter_value" ng-click="isSelect(item)">
                <i class="fa text-navy" ng-class="{true:'fa-check-square',false:'fa-square-o'}[item.isSelect]" aria-hidden="true"></i><span>{{item.name}}</span>
            </li>
        </ul>
    </div>
</div>
