<div class="settings">
    <div class="header">
        <span class="head-name">Settings</span>
    </div>
    <div class="settings-container">
        <div class="delivery-wripper">
            <span class="delivery-name">Do not disturb users during：</span>
            <ul class="delivery">
                <li>
                    <div class="dropdown dropdown-left">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{start_h}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu" ng-init="hour=['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']">
                            <li ng-repeat="h in hour" ng-click="setTime(h,'start_h')">{{h}}</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown dropdown-right">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{start_m}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu" ng-init="minute=['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59']">
                            <li ng-repeat="m in minute" ng-click="setTime(m,'start_m')">{{m}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <span>to</span>
            <ul class="delivery">
                <li>
                    <div class="dropdown dropdown-left">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{end_h}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu" ng-init="hour=['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']">
                            <li ng-repeat="h in hour" ng-click="setTime(h,'end_h')">{{h}}</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown dropdown-right">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{end_m}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu" ng-init="minute=['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59']">
                            <li ng-repeat="m in minute" ng-click="setTime(m,'end_m')">{{m}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="delivery-wripper">
            <span class="delivery-name">Default Expires：</span>
            <ul class="delivery">
                <li>
                    <input type="text" ng-model="default" class="dropdown-left" ng-blur="checkNum()">
                </li>
                <li ng-show="!detail.endDefault">
                    <div class="dropdown dropdown-right">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{time}}</p>
                        <i class="caret"></i>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-click="time='Weeks'">Weeks</li>
                            <li ng-click="time='Days'">Days</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="left-btn">
            <a href="#/view/push/list"><button type="button" class="btn btn-default">Cancel</button></a>
        </div>
        <div class="right-btn">
            <button type="button" class="btn btn-default save" ng-click="savaSetting()">Save</button>
        </div>
    </div>
</div>
    
