<div class="management">
    <div class="showList">
        <div class="header">
            <ol class="breadcrumb">
                <li>Placement</li>
                <li class="active">Management</li>
            </ol>
            <div class="add-box">
                <button class="add-btn" ng-click="addData()">Add Placement</button>
            </div>
            <div class="search-box">
                <i class="glyphicon glyphicon-search icon-search"></i>
                <input class="search-in" type="text" placeholder="Search" ng-keyup="searchBlur()" ng-model="seachParam.searchData">
            </div>
           <!--  触发查询 -->
           <div class="seach">
                <span>ShowType:</span>
                <div class="dropdown">
                    <p class="dropdown-toggle type-filter" data-toggle="dropdown">
                    {{filterParam.typefilter}}
                    </p>
                    <span class="caret"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="vo in typeList" ng-click="typeFilter(vo)">{{vo.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="seach">
                <span>App:</span>
                <div class="dropdown">
                    <p class="dropdown-toggle app-filter" data-toggle="dropdown">
                    {{filterParam.appfilter}}
                    </p>
                    <span class="caret"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="vo in appList" ng-click="appFilter(vo)">{{vo.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th ng-click="orderBy('id')">ID
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='id' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='id' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('name')">Name
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='name' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='name' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('showType')">Show Type
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='showType' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='showType' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('placementType')">Placement Type
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='placementType' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='placementType' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('app')">App
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='app' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='app' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('campaignCount')">#offer/on
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='campaignCount' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='campaignCount' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('placementId')">Placement ID
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='placementId' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='placementId' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th ng-click="orderBy('createTime')">Create Time
                            <div class="icon-order">
                                <i class="glyphicon glyphicon-triangle-top" ng-class="{true: 'icon-color'}[orderField=='createTime' &amp;&amp; !desc]"></i>
                                <i class="glyphicon glyphicon-triangle-bottom" ng-class="{true: 'icon-color'}[orderField=='createTime' &amp;&amp; desc]"></i>
                            </div>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vo in list | orderBy:orderField:desc | limitTo:listNum">
                        <td>{{vo.id}}</td>
                        <td><a href="#/view/campaign/placement/{{vo.name}}">{{vo.name}}</a></td>
                        <td>{{vo.showType}}</td>
                        <td>{{vo.placementTypeName}}</td>
                        <td>{{vo.app}}</td>
                        <td>{{vo.campaignCount}}</td>
                        <td>{{vo.placementId}} <span class="placState" ng-class="{0: 'inactive', 1: 'active'}[vo.activeStatus]">&nbsp;{{vo.activeStatus == 0 ? 'inactive' : 'active'}}</span></td>
                        <td>{{vo.createTime}}</td>
                        <td>
                            <span ng-class="{1: 'turn-on', 0: 'turn-off'}[vo.placeStatus]" ng-click="changeState(vo)"></span>
                            <span class="glyphicon" ng-class="{1: 'glyphicon-eye-open', 0: 'glyphicon-pencil'}[vo.placeStatus]" ng-click="editList(vo)"></span>
                            <!-- <span class="glyphicon glyphicon-trash" ng-click="deleteItem(vo)"></span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 20]" ng-click="seachParam.pageSize=20;loadList()">20</button>
                <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 50]" ng-click="seachParam.pageSize=50;loadList()">50</button>
                <button type="button" class="btn btn-default" ng-class="{true:'active'}[seachParam.pageSize == 100]" ng-click="seachParam.pageSize=100;loadList()">100</button>
            </div>
            <ul uib-pagination ng-if="totalItems" total-items="totalItems" ng-model="seachParam.currentPage" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="seachParam.pageSize" ng-change="loadList()"></ul>
        </div>
    </div>
</div>
