<div class="management campaign">
    <div class="edit">
        <div class="header">
            <ol class="breadcrumb">
                <li class="cursor" ng-click="cancel()">Management</li>
                <li class="active" ng-show="{0: 'true'}[detailVO.status]">Edit</li>
                <li class="active" ng-show="{1: 'true'}[detailVO.status]">View</li>
            </ol>
        </div>
        <div class="edit-container">
            <ul>
                <li verification><span class="edit-key">Name:<em>&#42;</em></span>
                    <input type="text" ng-model="detailVO.name" ng-readonly="{1: 'true'}[detailVO.status]">
                    <span class="msg"></span>
                </li>
                <li>
                    <span class="edit-key">App &amp; Version:<em>&#42;</em></span>
                    <div class="dropdown sel-first" ng-click="detailList(vo)">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{detailVO.app}}</p>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="vo in app" ng-click="detailVO.app=vo.name;appData()">{{vo.name}}</li>
                        </ul>
                        <span class="caret"></span>
                    </div>
                    <div class="dropdown" ng-click="detailList(vo)">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{detailVO.version}}</p>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="vo in version" ng-click="detailVO.version=vo.version">{{vo.version}}</li>
                        </ul>
                        <span class="caret"></span>
                    </div>
                    <span class="right-span"><a href="#/view/campaign/app/detail/new/0">Add New App</a></span>
                </li>
                <li>
                    <span class="edit-key">Show Type:<em>&#42;</em></span>
                    <div class="dropdown" ng-click="detailList(vo)">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{detailVO.showTypeName}}</p>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="vo in type" ng-click="typeData(vo)">{{vo.name}}</li>
                        </ul>
                        <span class="caret"></span>
                    </div>
                    <span class="right-span"><a href="#/view/campaign/showtype/detail/new/0">Add New Type</a></span>
                </li>
                <li>
                    <span class="edit-key">Placement Type:<em>&#42;</em></span>
                    <div class="dropdown" ng-click="detailList(vo)">
                        <p class="dropdown-toggle" data-toggle="dropdown">{{detailVO.placementTypeName}}</p>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="vo in placeType" ng-click="placementTypeData(vo)">{{vo.placementTypeName}}</li>
                        </ul>
                        <span class="caret"></span>
                    </div>
                </li>
                <li ng-show="detailVO.placementType==0">
                    <span class="edit-key">Skip:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="detailVO.skip=0">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.skip]"></i>
                            Yes
                        </li>
                        <li ng-click="detailVO.skip=1">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.skip]"></i>
                            No
                        </li>
                    </ul>
                </li>
                <li ng-show="detailVO.placementType==0">
                    <span class="edit-key">Countdown:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="detailVO.countdown = 0">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.countdown]"></i>
                            Yes
                        </li>
                        <li ng-click="detailVO.countdown = 1">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.countdown]"></i>
                            No
                        </li>
                    </ul>
                </li>
                <li verification ng-show="detailVO.placementType == 0 && detailVO.countdown == 0">
                    <span class="edit-key">Countdown Time:<em>&#42;</em></span>
                    <input type="text" ng-model="detailVO.showSeconds" ng-readonly="{1: 'true'}[detailVO.status]" style="width: 24%">
                    <span class="right-span seconds">seconds</span>
                    <span class="msg"></span>
                </li>
                <li ng-show="detailVO.placementType==3">
                    <span class="edit-key">Position:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="detailVO.position = 0">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.position]"></i>
                            Up
                        </li>
                        <li ng-click="detailVO.position = 1">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.position]"></i>
                            Down
                        </li>
                        <li ng-click="detailVO.position = 2">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{2:'active'}[detailVO.position]"></i>
                            Middle
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="edit-key">Native:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="radioData(1)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.nativeFlag]"></i>
                            Yes
                        </li>
                        <li ng-click="radioData(0)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.nativeFlag]"></i>
                            No
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="edit-key">Priority:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="priorityData(0)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.priority]"></i>
                            App/Brand
                        </li>
                        <li ng-click="priorityData(1)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.priority]"></i>
                            AdNetwork/DSP
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="edit-key">Can be tracked by:<em>&#42;</em></span>
                    <ul class="native-cont tracked" ng-init="track=['Impression','Click','Download','Action','Pay']">
                        <li ng-click="checkData(detailVO,$event)" ng-repeat="i in track"><i class="fa fa-check-square icon-check im"></i>{{i}}</li>
                    </ul>
                </li>
                <li>
                    <span class="edit-key">Click Action:<em>&#42;</em></span>
                    <div class="dropdown" ng-click="detailList(vo)">
                        <p class="dropdown-toggle click-type" data-toggle="dropdown">{{clickName}}</p>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="vo in click" ng-click="clickData(vo)">{{vo.name}}</li>
                        </ul>
                        <span class="caret"></span>
                    </div>
                </li>
                <li>
                    <span class="edit-key">Adaptive:<em>&#42;</em></span>
                    <ul class="native-cont">
                        <li ng-click="nativeData(1)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.adaptive]"></i>
                            Yes
                        </li>
                        <li ng-click="nativeData(0)">
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.adaptive]"></i>
                            No
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="edit-key">FN ID:</span>
                    <input type="text" ng-model="detailVO.fbaPlaceId" ng-blur="checkId($event, 'fbaRatio')" ng-readonly="{1: 'true'}[detailVO.status]" style="width: 24%">
                </li>
                <li>
                    <span class="edit-key">Admob ID:</span>
                    <input type="text" ng-model="detailVO.adMobPlaceId" ng-blur="checkId($event, 'admobRatio')" ng-readonly="{1: 'true'}[detailVO.status]" style="width: 24%">
                </li>
                <li>
                    <span class="edit-key">Mediation:<em>&#42;</em></span>
                    <!-- <input type="text" ng-model="detailVO.adMobPlaceId" ng-readonly="{1: 'true'}[detailVO.status]" style="width: 24%"> -->
                    <ol class="edit-mediat">
                        <li>
                            <span>FN</span>
                            <input type="text" ng-model="detailVO.fbaRatio" ng-readonly="{true: 'true'}[detailVO.status == 1 || !detailVO.fbaPlaceId]"><span class="right-span">%</span>
                        </li>
                        <li>
                            <span>Admob</span>
                            <input type="text" ng-model="detailVO.admobRatio" ng-readonly="{true: 'true'}[detailVO.status == 1 || !detailVO.adMobPlaceId]"><span class="right-span">%</span>
                        </li>
                        <li>
                            <span>Reva</span>
                            <input type="text" ng-model="detailVO.revaRatio" ng-readonly="{1: 'true'}[detailVO.status]"><span class="right-span">%</span>
                        </li>
                    </ol>
                </li>
                <li class="upload_img clearfix">
                    <span class="label_img col-sm-2 edit-key">Thumbnail:</span>
                    <!-- <span class="a-upload" ng-hide="detailVO.status"> -->
                         <!-- <input type="file" ngf-select="" ng-model="picFile" name="file" accept="image/png, image/jpeg" ngf-max-size="1MB" required="" ngf-model-invalid="errorFile" ng-change="uploadPic(picFile)" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
                         Select Files -->
                        <button type="file" ngf-select="uploadPic(picFile)" ng-model="picFile" accept="image/png, image/jpeg" name="file" class="btn btn-primary" ng-hide="detailVO.status">Upload</button>
                    <!-- </span> -->
                    <div class="div_img" ng-show="img_url || begin_upload">
                        <uib-progressbar max="100" value="dynamic" ng-show="begin_upload" class="progress-striped active"><b>{{dynamic}}%</b></uib-progressbar>
                        <div class="img-container">
                            <img ng-src="{{img_url}}" ng-show="img_url">
                            <span ng-click="delete(detailVO)" ng-show="img_url" ng-hide="detailVO.status">&times;</span>
                        </div>
                    </div>
                </li>
                <li class="edit-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-default save" ng-click="saveData(detailVO)" ng-if="!detailVO.status" ng-disabled="resubmit">Save</button>
                </li>
            </ul>
        </div>
    </div>
</div>
