<div class="placement">
    <div class="view">
        <div class="header">
            <ol class="breadcrumb">
                <li class="cursor" ng-click="cancel()">Placement</li>
                <li class="active">{{detailVO.name}}</li>
            </ol>
        </div>
        <div class="edit-container">
            <ul>
                <li><span>Name:</span>
                    <input type="text" ng-model="detailVO.name" readonly>
                </li>
                <li ng-hide="detailVO.adNetWork">
                    <span>Priority:</span>
                    <input type="text" ng-model="detailVO.priority" readonly>
                </li>
                <li ng-hide="detailVO.adNetWork">
                    <span>App in our server:</span>
                    <ul class="native-cont">
                        <li>
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.inServer]"></i> Yes
                        </li>
                        <li>
                            <i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.inServer]"></i> No
                        </li>
                    </ul>
                </li>
                <li ng-show="detailVO.adNetWork">
                    <span>CPX:</span>
                    <input type="text" readonly ng-model="detailVO.CPX">
                </li>
                <li ng-show="detailVO.adNetWork">
                    <span>Payout:</span>
                    <input type="text" readonly ng-model="detailVO.payout">
                </li>
                <li ng-show="detailVO.adNetWork">
                    <span>Budget:</span>
                    <input type="text" readonly ng-model="detailVO.budget">
                </li>
                <li>
                    <span>Date:</span>
                    <input id="datarange" type="text" readonly value="{{startDate}}~{{endDate}}">
                </li>
                <li>
                    <div class="tab-list">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Placement</a></li>
                            <li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Targeting</a></li>
                            <li role="presentation"><a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab"  ng-show="{1:'showApp'}[detailVO.inServer]">Apps</a>
                            <a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab"  ng-show="{0:'showApp'}[detailVO.inServer]">URL</a></li>
                            <li role="presentation"><a data-target="#advertiser" aria-controls="advertiser" role="tab" data-toggle="tab"  ng-show="detailVO.adNetWork">Advertiser</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <ul role="tabpanel" class="tab-pane active" id="home">
                                <li>
                                    <span class="title">App &amp; Version:</span>
                                    <div class="app">
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="applist">
                                                {{detailVO.appName}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="app">
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="versionlist">
                                                {{detailVO.version}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Group:</span>
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="grouplist">
                                            {{detailVO.groupName}}
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <span class="title">Placement:</span>
                                    <div class="dropdown">
                                        <p class="dropdown-toggle" id="placelist">
                                            {{detailVO.placeName}}
                                        </p>
                                    </div>
                                </li>
                                <li class="upload_img clearfix" ng-hide="detailVO.adNetWork" ng-repeat="vo in detailVO.imageList">
                                    <span class="title">{{vo.imageName}}</span>
                                    <div class="div_img" ng-show="vo.imageUrlForShow || vo.begin_upload">
                                        <uib-progressbar max="100" value="dynamic" ng-show="vo.begin_upload" class="progress-striped active"><b>{{dynamic}}%</b></uib-progressbar>
                                        <div class="img-container">
                                            <img ng-src="{{vo.imageUrlForShow}}" ng-show="vo.imageUrlForShow" width="80px" height="80px">
                                        </div>
                                    </div>
                                </li>
                                <li ng-repeat="vo in detailVO.titleList" ng-hide="detailVO.adNetWork">
                                    <span class="title">{{vo.titleName}}</span>
                                    <input type="text" ng-model="vo.value" readonly>
                                </li>
                            </ul>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <ul>
                                    <li>
                                        <span class="title">IMP Frequency:</span>
                                        <input type="text" ng-model="detailVO.imp" readonly>
                                    </li>
                                    <li>
                                        <span class="title">Click Frequency:</span>
                                        <input type="text" ng-model="detailVO.click" readonly>
                                    </li>
                                    <li class="except">
                                        <span class="title">Area:</span>
                                        <input type="text" ng-model="detailVO.area" readonly>
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.areaExcept" readonly>
                                    </li>
                                    <li class="except">
                                        <span class="title">Device:</span>
                                        <input type="text" ng-model="detailVO.device" readonly>
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.deviceExcept" readonly>
                                    </li>
                                    <li class="except">
                                        <span class="title">IMEI:</span>
                                        <input type="text" ng-model="detailVO.imei" readonly>
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.imeiExcept" readonly>
                                    </li>
                                    <li class="except">
                                        <span class="title">Model:</span>
                                        <input type="text" ng-model="detailVO.model" readonly>
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.modelExcept" readonly>
                                    </li>
                                    <li class="except">
                                        <span class="title">OS Version:</span>
                                        <input type="text" ng-model="detailVO.osVersion" readonly>
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.osVersionExcept" readonly>
                                    </li>
                                    <li class="except">
                                        <span class="title">Language:</span>
                                        <input type="text" ng-model="detailVO.language" readonly>
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.languageExcept" readonly>
                                    </li>
                                    <li class="except">
                                        <span class="title">Network:</span>
                                        <input type="text" ng-model="detailVO.network" readonly>
                                        <span class="title">Except:</span>
                                        <input type="text" ng-model="detailVO.networkExcept" readonly>
                                    </li>
                                    <li>
                                        <span class="title">Time Setting:</span>
                                        <ul class="native-cont timeset" ng-init="nums=['All','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']">
                                            <li ng-click="checkData(i,$event)" ng-repeat="i in nums" class="timecheck"><i class="fa fa-check-square icon-check"></i>{{i}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <ul ng-show="{0:'showApp'}[detailVO.inServer]">
                                    <li>
                                        <span class="title">Target URL:</span>
                                        <input type="text" ng-model="detailVO.targetUrl" readonly>
                                    </li>
                                    <li>
                                        <span class="title">Deep Linking:</span>
                                        <select></select>
                                        <select></select>
                                    </li>
                                </ul>
                                <ul ng-show="{1:'showApp'}[detailVO.inServer]">
                                    <li>
                                        <span class="title">Category:</span>
                                        <div class="dropdown">
                                            <p class="dropdown-toggle" id="categroylist">
                                                {{detailVO.category}}
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="title">Publish Time:</span>
                                        <input type="text" readonly>
                                        <!-- <input type="text" readonly value="{{publishTimeStart}}~{{publishTimeEnd}}"> -->
                                    </li>
                                    <li>
                                        <span class="title">Rank:</span>
                                        <ul class="native-cont">
                                            <li><i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[detailVO.rank]"></i>Up to Down</li>
                                            <li><i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[detailVO.rank]"></i>Down to Up</li>
                                            <li><i class="fa fa-dot-circle-o icon-radio" ng-class="{2:'active'}[detailVO.rank]"></i>Random</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="title">App Name:</span>
                                        <input type="text" ng-model="detailVO.targetAppName" readonly>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="advertiser">
                                <ul>
                                    <li>
                                        <span class="title">RTB:</span>
                                        <ul class="native-cont">
                                            <li><i class="fa fa-dot-circle-o icon-radio" ng-class="{0: 'active'}[rtb]"></i>Yes</li>
                                            <li><i class="fa fa-dot-circle-o icon-radio" ng-class="{1: 'active'}[rtb]"></i>No</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="title">Advertiser:</span>
                                        <input type="text" ng-model="detailVO.advertiserName" readonly>
                                    </li>
                                    <li ng-if="rtb">
                                        <span class="title">All List:</span>
                                        <input type="text" ng-model="detailVO.offerName" readonly>
                                    </li>
                                    <li ng-if="showChannel">
                                        <span class="title">Channel:</span>
                                        <input type="text" ng-model="channelNames" readonly>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="save-btn">
                    <button class="cancel" ng-click="cancel()">Cancel</button>
                </li>
            </ul>
        </div>
    </div>
</div>
