<div class="creatives">
    <div class="creatives-container">
        <div class="left-wripper">
            <ul class="message-wripper">
                <li ng-repeat="list in notification" ng-click="showDetail(list)" ng-class="{true: 'active'}[receiver.order==list.order]">
                    <p class="title"><span>{{list.order}}</span>Message{{list.order}}<i class="glyphicon glyphicon-remove" ng-click="removeMessage($index)" ng-show="addHide > 1"></i> </p>
                    <p class="percent"><span>Target Users</span><span class="percentage">{{list.target}}%</span></p>
                    <div slider percentage="list.target" confirm='setPercentage(list.order)' is-drag="notification.length>1"></div>
                    <span class="caret" ng-show="receiver.order==list.order"></span>
                </li>
                <li ng-hide="addHide == 3">
                    <p class="add-message" ng-click="addMessage()"><i class="glyphicon glyphicon-plus"></i>Add Variants</p>
                </li>
            </ul>
            <div class="content-container">
                <a id="content"></a>
                <div class="templet-wripper">
                    <div class="form-group">
                        <label class="col-sm-2">Templet:<em>&#42;</em></label>
                        <div class="col-xs-8 radio-type">
                            <span class="pull-left" ng-click="templetData(1)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1: 'active'}[receiver.templet]"></i>Default</span>
                            <span ng-click="templetData(3)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{3: 'active'}[receiver.templet]"></i>With Picture</span>
                            <span class="pull-right" ng-click="templetData(4)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{4: 'active'}[receiver.templet]"></i>With Video</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Tittle:<em>&#42;</em></label>
                        <input class="col-xs-8" name="title" type="text" ng-model="receiver.title" ng-focus="validateParam.titleWarn=false" ng-blur="msgTitle()" maxlength="50">
                        <span class="word-sum">{{50 - receiver.title.length}}</span>
                        <img src="app/style/less/images/icon_i.png" popover-placement="left" popover-is-open="titleOpen" ng-mouseenter="titleOpen=true" ng-mouseleave="titleOpen=false" uib-popover="Shown to end users as the notification titile.">
                    </div>
                    <div class="form-group message">
                        <label class="col-sm-2">Message:<em>&#42;</em></label>
                        <textarea class="col-xs-8" ng-model="receiver.content" ng-focus="validateParam.msgWarn=false" maxlength="240"></textarea>
                        <span class="word-sum">{{240 - receiver.content.length}}</span>
                    </div>
                    <div class="form-group warn-container" ng-show="validateParam.msgWarn">
                        <label class="col-sm-2"></label>
                        <ins class="warn"><i class="fa fa-close"></i>This field is required.</ins>
                    </div>
                    <div class="form-group" ng-show="receiver.templet == 3">
                        <label class="col-sm-3 dis-type">Display Type:<em>&#42;</em></label>
                        <div class="col-xs-8 radio-type">
                            <span class="pull-left" ng-click="receiver.displayType=1"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1: 'active'}[receiver.displayType]"></i>Text-Image Combination</span>
                            <span class="pull-right" ng-click="receiver.displayType=2"><i class="fa fa-dot-circle-o icon-radio" ng-class="{2: 'active'}[receiver.displayType]"></i>Text-Image Separation</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="receiver.templet == 4">
                        <label class="col-sm-3 dis-type">Display Type:<em>&#42;</em></label>
                        <div class="col-xs-8 radio-type">
                            <span class="pull-left" ng-click="receiver.displayType=1"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1: 'active'}[receiver.displayType]"></i>Text-Video Combination</span>
                            <span class="pull-right" ng-click="receiver.displayType=2"><i class="fa fa-dot-circle-o icon-radio" ng-class="{2: 'active'}[receiver.displayType]"></i>Text-Video Separation</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="receiver.templet == 3">
                        <label class="col-sm-2">Image:<em>&#42;</em></label>
                        <input class="col-xs-7 img-upload" type="text" placeholder="The best resolution is 864 * 480, less than 100 KB" readonly ng-model="receiver.imageUrl"> 
                        <button type="file" ngf-select="uploadPic($file)" accept="image/png, image/jpeg, image/gif" class="btn btn-primary upload"> Upload</button>
                    </div>
                    <div class="form-group warn-container" ng-show="validateParam.imgWarn">
                        <label class="col-sm-2"></label>
                        <ins class="warn"><i class="fa fa-close"></i>{{validateParam.img}}</ins>
                    </div>
                    <div class="form-group clearfix" ng-show="receiver.templet == 3 && receiver.imageUrl">
                        <label class="col-sm-2">Preview:</label>
                        <img class="img-view" ng-src="{{receiver.imageUrl}}">
                    </div>
                    <div class="form-group" ng-show="receiver.templet == 4">
                        <label class="col-sm-2">Poster:<em>&#42;</em></label>
                        <input class="col-xs-7 img-upload" type="text" placeholder="The best resolution is 864 * 480, less than 100 KB" readonly ng-model="receiver.postImgUrl"> 
                        <button type="file" ngf-select="uploadPoster($file)" accept="image/png, image/jpeg, image/gif" class="btn btn-primary upload"> Upload</button>
                    </div>
                    <div class="form-group warn-container" ng-show="validateParam.posterImgWarn">
                        <label class="col-sm-2"></label>
                        <ins class="warn"><i class="fa fa-close"></i>{{validateParam.posterImg}}</ins>
                    </div>
                    <div class="form-group" ng-show="receiver.templet == 4">
                        <label class="col-sm-2">Video:<em>&#42;</em></label>
                        <input class="col-xs-7 img-upload" type="text" placeholder="The best resolution is 720 * 480, less than 4 MB" readonly ng-model="receiver.video"> 
                        <button type="file" ngf-select="uploadVideo($file)" accept="video/mp4" class="btn btn-primary upload"> Upload</button>
                    </div>
                    <div class="form-group warn-container" ng-show="validateParam.videoWarn">
                        <label class="col-sm-2"></label>
                        <ins class="warn"><i class="fa fa-close"></i>{{validateParam.video}}</ins>
                    </div>
                    <div class="form-group clearfix" ng-show="receiver.templet == 4 && (receiver.postImgUrl || receiver.videoUrl)">
                        <label class="col-sm-2">Preview:</label> 
                        <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>                   
                        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}" poster="{{receiver.postImgUrl}}" src="{{receiver.videoUrl}}">
                            <!-- <source ng-src="{{receiver.videoUrl}}" type='video/mp4'> -->
                        </video>
                    </div>
                </div>
                <div class="action-wripper">
                    <a id="action"></a>
                    <div class="form-group">
                        <label class="col-sm-3" ng-hide="receiver.templet == 4">Notification Action<em>&#42;</em></label>
                        <label class="col-sm-3" ng-show="receiver.templet == 4">Video Action<em>&#42;</em></label>
                    </div>
                    <ul class="action">
                        <li ng-class="{'active':receiver.action==1, 'disable':app=='System'}" ng-click="actionData(1)" ng-hide="receiver.templet == 4"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[receiver.action]"></i>Open App Directly</li>
                        <li ng-class="{2:'active'}[receiver.action]" ng-click="actionData(2)"><i class="fa fa-dot-circle-o icon-radio" ng-class="{2:'active'}[receiver.action]"></i>URL</li>
                        <li ng-show="receiver.action == 2" ng-class="{4:'video-active'}[receiver.templet]">
                            <select id="actionUrl" ng-model="receiver.urlStart">
                                <option value="http://" ng-selected="receiver.urlStart == 'http://'">http://</option>
                                <option value="https://" ng-selected="receiver.urlStart == 'https://'">https://</option>
                            </select>
                            <span class="caret"></span>
                            <input type="text" ng-model="receiver.urlEnd" ng-focus="validateParam.urlWarn=false">
                            <br>
                            <ins class="warn" ng-show="validateParam.urlWarn"><i class="fa fa-close"></i>{{validateParam.url}}</ins>
                        </li>
                        <li ng-class="{'active':receiver.action==3, 'disable':app=='System'}" ng-click="actionData(3)" ng-hide="receiver.templet == 4"><i class="fa fa-dot-circle-o icon-radio" ng-class="{3:'active'}[receiver.action]"></i>Activity</li>
                        <li ng-show="receiver.action == 3">
                            <input name="activity" type="text" placeholder="com.lewa.demo.MainActivity" ng-model="receiver.activity" ng-focus="validateParam.activeWarn=false">
                            <br>
                            <ins class="warn" ng-show="validateParam.activeWarn"><i class="fa fa-close"></i>{{validateParam.active}}</ins>
                        </li>
                    </ul>
                    <div class="form-group" ng-show="receiver.templet == 4">
                        <label class="col-sm-3">Trigger Time<em>&#42;</em></label>
                    </div>
                    <div class="form-group trigger" ng-show="receiver.templet == 4">
                        User can touch the video to trigger an activity after <input name="trigger" type="text" ng-model="receiver.triggerTime" ng-blur="checkNum(5)">  Second(s)
                    </div>
                </div>
                <div class="option-wripper">
                    <a id="option"></a>
                    <div class="form-group adv-options">
                        <label class="col-sm-6">Advanced options</label>
                        <span class="option-check" ng-class="{0:'',1:'active'}[receiver.options]" ng-click="optionClick()"></span>
                    </div>
                    <div class="option-receiver" ng-show="receiver.options">
                        <div class="form-group">
                            <label class="col-sm-12">Custom data <img src="app/style/less/images/icon_i.png" popover-placement="bottom" popover-is-open="cusOpen" ng-mouseenter="cusOpen=true" ng-mouseleave="cusOpen=false" uib-popover="Key/Value pairs will be delivered with the message to your app."></label>
                        </div>
                        <div class="form-group" ng-repeat="custom in receiver.customdata">
                            <input type="text" placeholder="key" ng-model="custom.key" ng-focus="validateParam.customWarn=false">
                            <input type="text" placeholder="value" ng-model="custom.value" ng-focus="validateParam.customWarn=false">
                            <i class="glyphicon glyphicon-remove" ng-click=removeCustom($index)></i>
                        </div>
                        <div class="form-group custom-val" ng-show="validateParam.customWarn">
                            <ins class="warn"><i class="fa fa-close"></i>The key and value must be submitted in pairs.</ins>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="addCustom()"><i class="glyphicon glyphicon-plus"></i>Add Key/Value</button>
                        </div>
                        <div class="form-group">
                            <ul class="check-container">
                                <li><strong>Sound</strong> <span class="check" ng-class="{0:'',1:'active'}[receiver.sound]" ng-click="sound(receiver)"></span></li>
                                <li><strong>Vibrate</strong> <span class="check" ng-class="{0:'',1:'active'}[receiver.vibrate]" ng-click="vibrate(receiver)"></span></li>
                                <li><strong>Delay while idle</strong> <img src="app/style/less/images/icon_i.png" popover-placement="bottom" popover-is-open="delayOpen" ng-mouseenter="delayOpen=true" ng-mouseleave="delayOpen=false" uib-popover="Indicates that the message should not be displayed immediately if the device is idle."> <span class="check" ng-class="{0:'',1:'active'}[receiver.delayidle]" ng-click="delayidle(receiver)"></span></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Network:</label>
                            <span class="col-xs-3" ng-click="receiver.network=0"><i class="fa fa-dot-circle-o icon-radio" ng-class="{0:'active'}[receiver.network]"></i>All</span>
                            <span class="col-xs-3" ng-click="receiver.network=1"><i class="fa fa-dot-circle-o icon-radio" ng-class="{1:'active'}[receiver.network]"></i>Only WiFi</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-wripper" ng-class="{3: 'active', 4:'active'}[receiver.templet]">
            <p class="title"><span>{{receiver.order}}</span>Message{{receiver.order}} <b style="float: right;">Preview</b> </p>
            <div class="container" ng-hide="(receiver.templet == 3 || receiver.templet == 4) && receiver.displayType == 2">
                <h5>{{receiver.title}}</h5>
                <span>{{receiver.content}}</span>
            </div>
            <div class="img-container"  ng-class="{2:'active'}[receiver.displayType]">
                <img src="{{receiver.imageUrl}}" ng-show="receiver.templet == 3">
                <i class="fa fa-picture-o" ng-show="receiver.templet == 3 && !receiver.imageUrl"></i>
                <img src="{{receiver.postImgUrl}}" ng-show="receiver.templet == 4">
                <i class="fa fa-youtube-play" ng-show="receiver.templet == 4"></i>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="left-btn">
            <button type="button" class="btn btn-default draft" ng-click="saveDetail(0)">Save as Draft</button>
        </div>
        <div class="right-btn">
            <a href="#/view/push/list"><button type="button" class="btn btn-default cancle">Cancel</button></a>
            <button type="button" class="btn btn-default save" ng-click="saveDetail(1)">Save & Continue</button>
        </div>
    </div>
</div>
