
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Devices</th>
                            <th>Start Time</th>
                            <th>Type</th>
                            <th>Create Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vo in devlist">
                            <td>{{vo.device}}</td>
                            <td>{{vo.frontstarttime}}</td>
                            <td>{{vo.type}}</td>
                            <td>{{vo.fronttime}}</td>
                            <td>
                                <span ng-class="{1: 'turn-on', 0: 'turn-off'}[vo.status]" ng-click="changeState(vo)" ng-if="vo.status!=2"></span>
                                <span class="state" ng-class="{2:'checking'}[vo.status]" ng-if="vo.status==2">Scheduled</span>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <p data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</p>
                                    <div class="dropdown-menu">
                                        <div class="triangle-top">
                                            <i class="arrow"></i>
                                        </div>
                                        <ul>
                                            <a href="#/view/update/newDevice/{{vo.id}}/{{appName}}/edit/{{packageName}}"><li><i class="glyphicon glyphicon-pencil"></i>Edit</li></a>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>