<div class="wrapper wrapper-content campaign-creatives" ng-controller="campaignOwnerCtrl">
    <div class="ibox">
        <div class="ibox-title">
            <div class="pull-right m-r-sm">
                <button class="btn btn-primary fw-150" ng-click="addData()">Add Advertiser</button>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select chosen-select class="chosen-select" ng-change="typeFilter(type)" ng-model="type" ng-options="type.type as type.name for type in typeList">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="form-group has-feedback">
                        <label class="control-label">Search</label>
                        <input class="form-control" type="text" placeholder="Search" ng-keyup="searchBlur()" ng-model="seachParam.searchData">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content h-300" ng-class="{true:'sk-loading'}[listloading]">
            <spinner-three-bounce></spinner-three-bounce>
            <div class="table-responsive" ng-hide="listnodata">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th ng-click="orderBy('id')">ID
                                <span>
                                    <i class="fa pace-inactive" ng-class="{'inline':orderField==='id', 'fa-caret-up': !desc, 'fa-caret-down': desc}"></i>
                                </span>
                            </th>
                            <th ng-click="orderBy('name')">Name
                                <span>
                                    <i class="fa pace-inactive" ng-class="{'inline':orderField==='name', 'fa-caret-up': !desc, 'fa-caret-down': desc}"></i>
                                </span>
                            </th>
                            <th ng-click="orderBy('category')">Category
                                <span>
                                    <i class="fa pace-inactive" ng-class="{'inline':orderField==='category', 'fa-caret-up': !desc, 'fa-caret-down': desc}"></i>
                                </span>
                            </th>
                            <th ng-click="orderBy('type')">Type
                                <span>
                                    <i class="fa pace-inactive" ng-class="{'inline':orderField==='type', 'fa-caret-up': !desc, 'fa-caret-down': desc}"></i>
                                </span>
                            </th>
                            <th ng-click="orderBy('postBack')">Postback
                                <span>
                                    <i class="fa pace-inactive" ng-class="{'inline':orderField==='postBack', 'fa-caret-up': !desc, 'fa-caret-down': desc}"></i>
                                </span>
                            </th>
                            <th ng-click="orderBy('country')">Country
                                <span>
                                    <i class="fa pace-inactive" ng-class="{'inline':orderField==='country', 'fa-caret-up': !desc, 'fa-caret-down': desc}"></i>
                                </span>
                            </th>
                            <th ng-click="orderBy('createTime')">Create Time
                                <span>
                                    <i class="fa pace-inactive" ng-class="{'inline':orderField==='createTime', 'fa-caret-up': !desc, 'fa-caret-down': desc}"></i>
                                </span>
                            </th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vo in list | orderBy: orderField:desc | limitTo:listNum">
                            <td>{{vo.id}}</td>
                            <td>{{vo.name}}</td>
                            <td>{{vo.category}}</td>
                            <td>{{vo.type==0?'App/Brand':'AdNetwork/DSP'}}</td>
                            <td>{{vo.postBack==0?'No':'Yes'}}</td>
                            <td>{{vo.country}}</td>
                            <td>{{vo.createTime}}</td>
                            <td class="text-center">
                                <span class="fa m-r-sm" ng-class="{1: 'fa-toggle-on text-success', 0: 'fa-toggle-off'}[vo.status]" ng-click="changeState(vo)"></span>
                                <span class="fa" ng-class="{1: 'fa-eye', 0: 'fa-pencil'}[vo.status]" ng-click="getDetail(vo)"></span>
                                <!-- <span class="fa fa-trash" ng-click="deleteItem(vo)"></span> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <null-data ng-show="listnodata" class="h-200"></null-data>
        </div>
        <div class="ibox-footer">
            <div class="btn-group">
                <button class="btn btn-default" ng-class="{20:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=20;loadList()">20</button>
                <button class="btn btn-default" ng-class="{50:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=50;loadList()">50</button>
                <button class="btn btn-default" ng-class="{100:'active'}[seachParam.pageSize]" ng-click="seachParam.pageSize=100;loadList()">100</button>
            </div>
            <ul uib-pagination class="pull-right no-margins" ng-if="totalItems" total-items="totalItems" ng-model="seachParam.currentPage" max-size="5" previous-text="<" next-text=">" boundary-link-numbers="true" items-per-page="seachParam.pageSize" ng-change="loadList()"></ul>
        </div>
    </div>
</div>
